/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1 cp.[P-SYS-ID],  COUNT(DISTINCT cp.[P-CLIA-NUM]) AS [MAX CLIA COUNT] 
FROM [dbo].[DT_PCLIAPTB_STG] cp
INNER JOIN [dbo].[DT_PCLIACTB_STG] cc ON cp.[P-CLIA-NUM] = cc.[P-CLIA-NUM]
INNER JOIN [dbo].[DT_PENROLTB_STG] en ON cp.[P-SYS-ID] = en.[P-SYS-ID]
INNER JOIN [dbo].[DT_PROVDRTB_STG] prv ON prv.[P-SYS-ID] = en.[P-SYS-ID] 
WHERE en.[P-ENROL-STAT-TY-CD] = '00' AND prv.[P-REC-TY-CD] = 'P' AND en.[P-STAT-END-DT] IS NOT NULL AND
 CASE WHEN ISDATE(en.[P-STAT-END-DT]) = 1 THEN CAST(en.[P-STAT-END-DT] AS datetime) ELSE '1/1/1753' END > '12/31/2015' AND 
CASE WHEN ISDATE(cc.[P-CERT-EXPIR-DT]) = 1 THEN CAST(cc.[P-CERT-EXPIR-DT] AS datetime) ELSE '1/1/1753' END  > '5/10/2016' GROUP BY cp.[P-SYS-ID] ORDER BY COUNT(DISTINCT cp.[P-CLIA-NUM]) DESC

SELECT TOP 1 lic.[P-SYS-ID], COUNT(DISTINCT lic.[P-LIC-CERT-NUM]) AS [MAX LICENSE COUNT]
FROM [dbo].[DT_PLICNSTB_STG] lic
INNER JOIN [dbo].[DT_PENROLTB_STG] en ON lic.[P-SYS-ID] = en.[P-SYS-ID]
INNER JOIN [dbo].[DT_PROVDRTB_STG] prv ON prv.[P-SYS-ID] = en.[P-SYS-ID] 
WHERE en.[P-ENROL-STAT-TY-CD] = '00' AND prv.[P-REC-TY-CD] = 'P' AND en.[P-STAT-END-DT] IS NOT NULL AND
CASE WHEN ISDATE(en.[P-STAT-END-DT]) = 1 THEN CAST(en.[P-STAT-END-DT] AS datetime) ELSE '1/1/1753' END > '12/31/2015' AND 
CASE WHEN ISDATE(lic.[P-LIC-EXPIR-DT]) = 1 THEN CAST(lic.[P-LIC-EXPIR-DT] AS datetime) ELSE '1/1/1753' END > '5/10/2016' GROUP BY lic.[P-SYS-ID] ORDER BY COUNT(DISTINCT [P-LIC-CERT-NUM]) DESC

SELECT TOP 1 serv.[P-SYS-ID], COUNT(DISTINCT serv.[P-COS-CD]) AS [MAX CATEGORY OF SERVICE COUNT]
FROM [dbo].[DT_PRVCOSTB_STG] serv
INNER JOIN [dbo].[DT_PENROLTB_STG] en ON serv.[P-SYS-ID] = en.[P-SYS-ID]
INNER JOIN [dbo].[DT_PROVDRTB_STG] prv ON prv.[P-SYS-ID] = en.[P-SYS-ID] 
WHERE en.[P-ENROL-STAT-TY-CD] = '00' AND prv.[P-REC-TY-CD] = 'P' AND en.[P-STAT-END-DT] IS NOT NULL AND
CASE WHEN ISDATE(en.[P-STAT-END-DT]) = 1 THEN CAST(en.[P-STAT-END-DT] AS datetime) ELSE '1/1/1753' END > '12/31/2015' AND 
CASE WHEN ISDATE(serv.[P-COS-END-DT]) = 1 THEN CAST(serv.[P-COS-END-DT] AS datetime) ELSE '1/1/1753' END > '5/10/2016' GROUP BY serv.[P-SYS-ID] ORDER BY COUNT(DISTINCT [P-COS-CD]) DESC

SELECT TOP 1 sp.[P-SYS-ID], COUNT(DISTINCT sp.[P-SPECL-CD]) AS [MAX SPECIALTY COUNT]
FROM [dbo].[DT_PSPECLTB_STG] sp
INNER JOIN [dbo].[DT_PENROLTB_STG] en ON sp.[P-SYS-ID] = en.[P-SYS-ID]
INNER JOIN [dbo].[DT_PROVDRTB_STG] prv ON prv.[P-SYS-ID] = en.[P-SYS-ID] 
WHERE en.[P-ENROL-STAT-TY-CD] = '00' AND prv.[P-REC-TY-CD] = 'P' AND en.[P-STAT-END-DT] IS NOT NULL AND
CASE WHEN ISDATE(en.[P-STAT-END-DT]) = 1 THEN CAST(en.[P-STAT-END-DT] AS datetime) ELSE '1/1/1753' END > '12/31/2015' AND 
CASE WHEN ISDATE(sp.[P-SPECL-END-DT]) = 1 THEN CAST(sp.[P-SPECL-END-DT] AS datetime) ELSE '1/1/1753' END > '5/10/2016' GROUP BY sp.[P-SYS-ID] ORDER BY COUNT(DISTINCT [P-SPECL-CD]) DESC


SELECT TOP 1 tax.[P-SYS-ID],  COUNT(DISTINCT [P-TAXONOMY-CD]) AS [MAX TAXONOMY COUNT]
FROM [dbo].[DT_PTAXONTB_STG] tax
INNER JOIN [dbo].[DT_PENROLTB_STG] en ON tax.[P-SYS-ID] = en.[P-SYS-ID]
INNER JOIN [dbo].[DT_PROVDRTB_STG] prv ON prv.[P-SYS-ID] = en.[P-SYS-ID] 
WHERE en.[P-ENROL-STAT-TY-CD] = '00' AND prv.[P-REC-TY-CD] = 'P' AND en.[P-STAT-END-DT] IS NOT NULL AND
CASE WHEN ISDATE(en.[P-STAT-END-DT]) = 1 THEN CAST(en.[P-STAT-END-DT] AS datetime) ELSE '1/1/1753' END > '12/31/2015' AND 
CASE WHEN ISDATE([P-TAXON-END-DT]) = 1 THEN CAST([P-TAXON-END-DT] AS datetime) ELSE '1/1/1753' END > '5/10/2016' GROUP BY tax.[P-SYS-ID] ORDER BY COUNT(DISTINCT [P-TAXONOMY-CD]) DESC




