/****** Script for SelectTopNRows command from SSMS  ******/
SELECT DISTINCT adr.[P-SYS-ID], adr.[P-ADR-TY-CD], 
	  adr.[P-NAM], adr.[P-LINE1-AD], adr.[P-LINE2-AD],
	  adr.[P-CITY-NAM], adr.[P-ST-CD], adr.[P-ZIP4-CD],
	  adr.[P-ZIP5-CD], adr.[P-CNTY-CD], adr.[G-QUAD-CD],
	  adr.[G-WARD-CD]
FROM [dbo].[DT_PADDRSTB_STG] adr 
INNER JOIN [dbo].[DT_PENROLTB_STG] en ON adr.[P-SYS-ID] = en.[P-SYS-ID]
INNER JOIN [dbo].[DT_PROVDRTB_STG] prv ON prv.[P-SYS-ID] = en.[P-SYS-ID] 
WHERE en.[P-ENROL-STAT-TY-CD] = '00' AND prv.[P-REC-TY-CD] = 'P' AND en.[P-STAT-END-DT] IS NOT NULL AND
	  CAST(en.[P-STAT-END-DT] AS datetime) > '12/31/2015' AND
	  adr.[P-ST-CD] = 'DC' AND 
	  (LEN(RTRIM(LTRIM(adr.[G-QUAD-CD]))) = 0 OR LEN(RTRIM(LTRIM(adr.[G-WARD-CD]))) = 0 )
ORDER BY adr.[P-SYS-ID]