/****** Script for SelectTopNRows command from SSMS  ******/
SELECT DISTINCT en.[P-SYS-ID]
      ,[P-STAT-EFF-DT]
      ,en.[P-TY-CD]
	  ,pt.Long AS ProviderType
      ,[P-STAT-END-DT]
      ,[P-ENROL-STAT-TY-CD]
      ,en.[G-AUD-USER-ID]
      ,[G-AUD-TS]
      ,[P-BRND-DISCT-PCT]
      ,[P-GENR-DISCT-PCT]
      ,[P-DISP-FEE-AMT]
      ,[P-RE-ENROL-STAT-CD]
      ,[P-ENROL-APP-SRC-CD]
  FROM [DC_PDMS_CONVSRC01].[dbo].[DT_PENROLTB_STG] en
  LEFT OUTER JOIN [DC_PDMS_CONVSRC01].[dbo].[LKUP_PROVIDER_TYPE_CODE] pt ON pt.[P-TY-CD] = en.[P-TY-CD]
  WHERE [P-ENROL-STAT-TY-CD] = '00' AND [P-STAT-END-DT] IS NOT NULL AND
  CAST([P-STAT-END-DT] AS datetime) > '12/31/2015'
