USE [DC_PDMS_CONVSRC01]
GO
/****** Object:  StoredProcedure [dbo].[CONV_ValidateStagingData]    Script Date: 4/14/2016 11:11:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Richard Mays
-- Create date: 4/13/2016
-- Description:	Validates the data in the staging files
-- =============================================
ALTER PROCEDURE [dbo].[CONV_ValidateStagingData] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @Query VARCHAR(MAX), @Column VARCHAR(100), @Table VARCHAR(100)
	DECLARE @LkUp_Column varchar(100), @LkUp_Table varchar(100);

	CREATE TABLE #Results(Validation_Type varchar(10), Provider_Sys_ID varchar(20), Table_Name VARCHAR(100), Column_Name VARCHAR(100), Bad_Value varchar(100))

	-- Find the bad dates in the data
	DECLARE Col CURSOR FOR
	SELECT Table_Name, Column_Name
	FROM INFORMATION_SCHEMA.COLUMNS
	WHERE Column_Name LIKE '%-DT' AND Table_Name LIKE 'DT_%'
	ORDER BY TABLE_NAME, ORDINAL_POSITION

	OPEN Col
	FETCH NEXT FROM Col INTO @Table, @Column
	WHILE @@FETCH_STATUS = 0
	BEGIN
		SET @Query = 'INSERT INTO #Results SELECT ''V0001'' AS Validation_Type, [P-SYS-ID] AS Provider_Sys_ID, ''' + @Table + ''' AS Table_Name, ''' + @Column + ''' AS Column_Name, [' + @Column + '] AS Bad_Value FROM [' + @Table + ']';
		SET @Query = @Query + ' WHERE ISNUMERIC(LEFT([' + @Column + '],4)) = 0 OR (CAST(LEFT([' + @Column + '], 4) AS int) < 1900 AND [' + @Column + '] <> ''0001-01-01'')';
		SET @Query = @Query + ' OR ( CAST(LEFT([' + @Column + '], 4) AS int) > 2100 AND [' + @Column + '] <> ''9999-12-31'')';
		 
		PRINT @Query;
		BEGIN TRY
			EXEC (@Query)
		END TRY
		BEGIN CATCH
			SET @Query = 'INSERT INTO #Results SELECT ''V0001'' AS Validation_Type, [P-SYS-ID] AS Provider_Sys_ID, ''' + @Table + ''' AS Table_Name, ''' + @Column + ''' AS Column_Name, [' + @Column + '] AS Bad_Value FROM [' + @Table + ']';
			SET @Query = @Query + ' WHERE ISNUMERIC(LEFT([' + @Column + '],4)) = 0 OR (CAST(LEFT([' + @Column + '], 4) AS int) < 1900 AND [' + @Column + '] <> ''0001-01-01'')';
			SET @Query = @Query + ' OR ( CAST(LEFT([' + @Column + '], 4) AS int) > 2100 AND [' + @Column + '] <> ''9999-12-31'')';
			EXEC (@Query);
		END CATCH
		FETCH NEXT FROM Col INTO @Table, @Column
	END
	CLOSE Col
	DEALLOCATE Col

	-- Find any bad look up values in the tables
	DECLARE LkUp_Col CURSOR FOR
	SELECT Table_Name, Column_Name
	FROM INFORMATION_SCHEMA.COLUMNS
	WHERE Column_Name LIKE 'P-%' AND Table_Name LIKE 'LKUP_%' AND Column_Name <> 'P-SYS-ID'
	ORDER BY TABLE_NAME, ORDINAL_POSITION

	OPEN LkUp_Col
	FETCH NEXT FROM LkUp_Col INTO @LkUp_Table, @LkUp_Column
	WHILE @@FETCH_STATUS = 0
	BEGIN
		DECLARE Dt_Col CURSOR FOR
		SELECT Table_Name, Column_Name
		FROM INFORMATION_SCHEMA.COLUMNS
		WHERE Column_Name = @LkUp_Column AND Table_Name LIKE 'DT_%'
		ORDER BY TABLE_NAME, ORDINAL_POSITION

		OPEN Dt_Col
		FETCH NEXT FROM Dt_Col INTO @Table, @Column
		WHILE @@FETCH_STATUS = 0
		BEGIN
			SET @Query = 'INSERT INTO #Results SELECT ''V0002'' AS Validation_Type, [P-SYS-ID] AS Provider_Sys_ID, ''' + @Table + ''' AS Table_Name, ''' + @Column + ''' AS Column_Name, dt.[' + @Column + '] AS Bad_Value FROM [' + @Table + '] dt';
			SET @Query = @Query + ' LEFT OUTER JOIN [' + @LkUp_Table + '] lkup ON lkup.[' + @LkUp_Column + '] = dt.[' + @Column + '] ';
			SET @Query = @Query + ' WHERE  lkup.[' + @Column + '] IS NULL';
			PRINT @Query;
			BEGIN TRY
				EXEC(@Query);
			END TRY
			BEGIN CATCH
				SET @Query = 'INSERT INTO #Results SELECT ''V0002'' AS Validation_Type, ''NONE'' AS Provider_Sys_ID, ''' + @Table + ''' AS Table_Name, ''' + @Column + ''' AS Column_Name, dt.[' + @Column + '] AS Bad_Value FROM [' + @Table + '] dt';
				SET @Query = @Query + ' LEFT OUTER JOIN [' + @LkUp_Table + '] lkup ON lkup.[' + @LkUp_Column + '] = dt.[' + @Column + '] ';
				SET @Query = @Query + ' WHERE  lkup.[' + @Column + '] IS NULL';

				EXEC(@Query);
			END CATCH
			FETCH NEXT FROM Dt_Col INTO @Table, @Column
		END
		CLOSE Dt_Col
		DEALLOCATE Dt_Col
		FETCH NEXT FROM LkUp_Col INTO @LkUp_Table, @LkUp_Column
	END
	CLOSE LkUp_Col
	DEALLOCATE LkUp_Col

	-- Find empty required fields in the data
	DECLARE ColR CURSOR FOR
	SELECT TableName, ColumnName
	FROM dbo.[META_MMISRequiredFields]
	ORDER BY TABLENAME

	OPEN ColR
	FETCH NEXT FROM ColR INTO @Table, @Column
	WHILE @@FETCH_STATUS = 0
	BEGIN
		SET @Query = 'INSERT INTO #Results SELECT ''V0003'' AS Validation_Type, [P-SYS-ID] AS Provider_Sys_ID, ''' + @Table + ''' AS Table_Name, ''' + @Column + ''' AS Column_Name, [' + @Column + '] AS Bad_Value FROM [DT_' + @Table + '_STG]';
		SET @Query = @Query + ' WHERE LEN(RTRIM(LTRIM([' + @Column + ']))) = 0 '
		
		 
		PRINT @Query;
		BEGIN TRY
			EXEC (@Query)
		END TRY
		BEGIN CATCH
		SET @Query = 'INSERT INTO #Results SELECT ''V0003'' AS Validation_Type, ''None'' AS Provider_Sys_ID, ''' + @Table + ''' AS Table_Name, ''' + @Column + ''' AS Column_Name, [' + @Column + '] AS Bad_Value FROM [DT_' + @Table + '_STG]';
		SET @Query = @Query + ' WHERE LEN(RTRIM(LTRIM([' + @Column + ']))) = 0 '
		EXEC (@Query);
		END CATCH
		FETCH NEXT FROM ColR INTO @Table, @Column
	END
	CLOSE ColR
	DEALLOCATE ColR


	SELECT * FROM #Results ORDER BY Validation_Type
END
