/****** Script for SelectTopNRows command from SSMS  ******/
SELECT DISTINCT 
		en.[P-TY-CD]
	  ,pt.Long AS ProviderType
	  ,ISNULL(tax.[P-TAXONOMY-CD], '') AS [P-TAXONOMY-CD]
	  ,ISNULL(sc.[P-TAXON-CLS-DESC], '') AS Taxonomy
  FROM [dbo].[DT_PENROLTB_STG] en
  LEFT OUTER JOIN [dbo].[LKUP_PROVIDER_TYPE_CODE] pt ON pt.[P-TY-CD] = en.[P-TY-CD]
  LEFT OUTER JOIN [dbo].[DT_PTAXONTB_STG] tax ON en.[P-SYS-ID] = tax.[P-SYS-ID]
  LEFT OUTER JOIN [dbo].[LKUP_TAXONOMY_CODE] sc ON sc.[P-TAXONOMY-CD] = tax.[P-TAXONOMY-CD]
  WHERE [P-ENROL-STAT-TY-CD] = '00' AND [P-STAT-END-DT] IS NOT NULL AND
  CAST([P-STAT-END-DT] AS datetime) > '12/31/2015' 
  ORDER BY en.[P-TY-CD], ISNULL(tax.[P-TAXONOMY-CD], '')