/****** Script for SelectTopNRows command from SSMS  ******/
SELECT DISTINCT 
		en.[P-TY-CD]
	  ,pt.Long AS ProviderType
	  ,spec.[P-SPECL-CD]
	  ,ISNULL(sc.Long, '') AS SpecialtyType
     
  FROM [dbo].[DT_PENROLTB_STG] en
  LEFT OUTER JOIN [dbo].[LKUP_PROVIDER_TYPE_CODE] pt ON pt.[P-TY-CD] = en.[P-TY-CD]
  LEFT OUTER JOIN [dbo].[DT_PSPECLTB_STG] spec ON en.[P-SYS-ID] = spec.[P-SYS-ID]
  LEFT OUTER JOIN [dbo].[LKUP_PROVIDER_SPECIALTY_CODE] sc ON sc.[P-SPECL-CD] = spec.[P-SPECL-CD]
  WHERE [P-ENROL-STAT-TY-CD] = '00' AND [P-STAT-END-DT] IS NOT NULL AND
  CAST([P-STAT-END-DT] AS datetime) > '12/31/2015' AND spec.[P-SPECL-END-DT] > '12/31/2015'
  ORDER BY en.[P-TY-CD], spec.[P-SPECL-CD]