/****** Script for SelectTopNRows command from SSMS  ******/
SELECT DISTINCT en.[P-SYS-ID]
      ,[P-STAT-EFF-DT]
      ,en.[P-TY-CD]
	  ,pt.Long AS ProviderType
      ,[P-STAT-END-DT]
      ,[P-ENROL-STAT-TY-CD]
      ,en.[G-AUD-USER-ID]
      ,[G-AUD-TS]
      ,[P-BRND-DISCT-PCT]
      ,[P-GENR-DISCT-PCT]
      ,[P-DISP-FEE-AMT]
      ,[P-RE-ENROL-STAT-CD]
      ,[P-ENROL-APP-SRC-CD]
  FROM [dbo].[DT_PENROLTB_STG] en
  INNER JOIN [dbo].[DT_PROVDRTB_STG] prv ON prv.[P-SYS-ID] = en.[P-SYS-ID]
  LEFT OUTER JOIN [dbo].[LKUP_PROVIDER_TYPE_CODE] pt ON pt.[P-TY-CD] = en.[P-TY-CD]
  WHERE [P-ENROL-STAT-TY-CD] = '00' AND [P-STAT-END-DT] IS NOT NULL AND
  prv.[P-REC-TY-CD] = 'P' AND
  CAST([P-STAT-END-DT] AS datetime) < '5/5/1996' AND 
  NOT EXISTS(SELECT * FROM [dbo].[DT_PENROLTB_STG] en_sub WHERE en_sub.[P-SYS-ID] = en.[P-SYS-ID] AND (ISDATE(en_sub.[P-STAT-EFF-DT]) = 1 AND CAST(en_sub.[P-STAT-EFF-DT] AS datetime) > CAST(en.[P-STAT-END-DT] AS datetime)) AND [P-ENROL-STAT-TY-CD] = '00') 
