<?xml version="1.0"?>
<configuration>

  <system.web>
    <authorization>
      <allow roles="ODMStateAdministrator"/>
      <deny users="*"/>
    </authorization>
  </system.web>
	<location path="DesignStaticPages.aspx">
		<system.web>
			<authorization>
				<allow roles="PNMSuperUser"/>
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
  <location path="ReferenceData.aspx">
    <system.web>
      <authorization>
        <allow roles="ODMStateAdministrator,TechAdmin"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ReferenceDataMgmt.aspx">
	<system.web>
		<authorization>
			<allow roles="ODMStateAdministrator,TechAdmin"/>
			<deny users="*" />
		</authorization>
	</system.web>
  </location>
  <location path="User.aspx">
    <system.web>
      <authorization>
        <allow roles="TechAdmin"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
