<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="PrelimDB" connectionString="Data Source=UCOCDMMSQL01PDM.maxcorp.maximus;Initial Catalog=DC_PDMS_RBM02;User=dcpdms;Password=dcpdms;" />
  </connectionStrings>
</configuration>