<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="mainDB" connectionString="Data Source=UORADMMSQL01DMS.maxcorp.maximus;Initial Catalog=DP_MODERN_INT01;User Id=Maxcorp\SVC_pdms_demo;password=aB*}x6,9TVL)2-2#m1aY;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="NPI" connectionString="Data Source=UORADMMSQL01DMS.maxcorp.maximus;Initial Catalog=NPI;User Id=Maxcorp\SVC_pdms_demo;password=aB*}x6,9TVL)2-2#m1aY;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>

