<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!--
      UAT settings are just place holder values.
-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="mainDB" connectionString="Data Source=UCOCTMMSQL01PDM.maxcorp.maximus;Initial Catalog=DC_PDMS_UAT01;User Id=dcpdms;password=pdmsu@t;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <authentication>
      <forms loginUrl="~/Account/Login.aspx" timeout="30" defaultUrl="default.aspx" requireSSL="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(loginUrl)"/>
    </authentication>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      
    -->
    <customErrors mode="On" xdt:Transform="Replace">
      <!--<error statusCode="500" redirect="InternalError.htm"/>-->
    </customErrors>
  </system.web>

  <system.serviceModel>
    <client>
      <endpoint address="http://UCOCTMMAPP01PDM.maxcorp.maximus/DC_PDMS_SVC_UAT/PDMSService.svc" name="BasicHttpBinding_IPDMSService"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint name="BasicHttpBinding_IFileTransferService" address="http://UCOCTMMAPP01PDM.maxcorp.maximus/DC_PDMS_SVC_UAT/FileTransferService.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RAReportsBehavior">
          <clientCredentials>
            <clientCertificate storeName="My" storeLocation="CurrentUser" x509FindType="FindByThumbprint" findValue="f323445800adc1371ddfbbae34af9efd1002adc8" xdt:Transform="SetAttributes" xdt:Locator="Match(storeName)" />
            <serviceCertificate>
              <defaultCertificate storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint" findValue="908a5f51bba09c14aebd96c9a0ba6d0f0e74e873" xdt:Transform="SetAttributes" xdt:Locator="Match(storeName)" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>