<?xml version="1.0"?>
<configuration>
  
  
  <location path="ReportCriteria.aspx">
    <system.web>
      <authorization>
        <allow roles="CommitteeQualitySpecialist,ComplianceSpecialist,ODMCredentialingQualityAssurance,CredentialingQualityAssurance,CredentialingSupervisor,ODMStateAdministrator,TechAdmin,StateAdministrator,EnrollmentSpecialist,CredentialingChair,LTCInitial/Revalidation,LTCCHOP,APMSpecialist,ODMCredentialingSupervisor,PNMSuperUser,Aetna,Humana,AmeriHealth,Anthem,Buckeye,Caresource,Molina,UnitedHealthCare,ODMNAReports,AetnaOhioRISE" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
</configuration>

