<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <connectionStrings>
    <!--<add name="dbConnectionMain" connectionString="Data Source=UORADMMSQL01OHP.MAXCORP.MAXIMUS, 26000;Initial Catalog=DP_OH_DEV01;Integrated Security=True" 
         providerName="System.Data.SqlClient" />-->
    <add name="dbConnectionMain" connectionString="Data Source=UORADMMSQL01OHP.MAXCORP.MAXIMUS, 26000;Initial Catalog=OH_PNM_ProviderConversion;Integrated Security=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>