<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <deny users="?" />
      <allow roles="ODMStateAdministrator,ProviderServices,Operator,ReadOnly,SiteVisitOperator,ProviderOper,CredentialingSpecialist,CredentialingChair,CommitteeQualitySpecialist"/>
    </authorization>
  </system.web>
  <location path="ContactUs.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
	<location path="FeeScheduleContact.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
  <location path="ActionHistory.aspx">
    <system.web>
      <authorization>
        <allow roles="ODMStateAdministrator,ProviderServices,Operator,ReadOnly,SiteVisitOperator,ProviderOper" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="MyQueue.aspx">
    <system.web>
      <authorization>
        <allow roles="CommitteeQualitySpecialist,ODMStateAdministrator,ProviderServices,Operator,ReadOnly,SiteVisitOperator,CredentialingSpecialist,ComplianceSpecialist,EnrollmentSpecialist,SiteVisitAdministrator,CredentialingQualityAssurance,CredentialingSupervisor,ODMCredentialingQualityAssurance,ODMCredentialingSpecialist,ODMCredentialingSupervisor, TechAdmin, LTCInitial/Revalidation,LTCCHOP,APMSpecialist,ODECostReport,ODHCostReport,ODMFQHCCostReport,ODMHospitalCostReport,ODMLeadInvestigationCostReport,ODMMSPCostReport,ODMOHFCostReport,ODMRHCCostReport,InternalApplicationsEntry,DODDRatesettingCostReportSupervisor,DODDCostReportStaff,ODMRatesetting,ODMCostReportStaff,ODMMDSSectionQReport"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CredentialQueue.aspx">
    <system.web>
      <authorization>        
        <allow roles="CredentialingChair,CommitteeQualitySpecialist"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="TransactionSearch.aspx">
    <system.web>
      <authorization>
        <allow roles="ODMStateAdministrator,EnrollmentSpecialist,TechAdmin,ProviderServices,PNMSuperUser,ReadOnly"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="GroupReview.aspx">
    <system.web>
      <authorization>
        <allow roles="ODMCredentialingSupervisor,InternalApplicationsEntry,ODMStateAdministrator,ProviderServices,Operator,ReadOnly,ProviderOper,CredentialingSpecialist,ODMCredentialingSpecialist,CredentialingChair,CommitteeQualitySpecialist,EnrollmentSpecialist,LTCInitial/Revalidation,LTCCHOP,TechAdmin,ODMCredentialingQualityAssurance,ComplianceSpecialist,CredentialingQualityAssurance,APMSpecialist,CredentialingSupervisor,SiteVisitAdministrator,SiteVisitOperator,PNMSuperUser"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="OwnerSearch.aspx">
    <system.web>
      <authorization>
        <allow roles="EnrollmentSpecialist,ODMStateAdministrator,ProviderServices,Operator,ReadOnly,ProviderOper,CredentialingSpecialist,CredentialingChair,CommitteeQualitySpecialist,TechAdmin,ODMCredentialingQualityAssurance,CredentialingQualityAssurance,ComplianceSpecialist,InternalApplicationsEntry,ODMCredentialingSpecialist,PNMSuperUser"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ProviderHomeNew.aspx">
    <system.web>
      <authorization>
        <allow roles="ProviderAdministrator,InternalApplicationsEntry,ProviderAgent"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ResubmitTransaction.aspx">
    <system.web>
      <authorization>
        <allow roles="ODMStateAdministrator"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AdminHome.aspx">
    <system.web>
      <authorization>
        <allow roles="ODMStateAdministrator"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WaiverReferralDataEntry.aspx">
    <system.web>
      <authorization>
        <allow roles="ODMStateAdministrator,ProviderOper,Operator"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WaiverProviderSearch.aspx">
    <system.web>
      <authorization>
        <allow roles="ODMStateAdministrator,Operator,ProviderOper"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AchFeeSearch.aspx">
    <system.web>
      <authorization>
        <allow roles="ODMStateAdministrator"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PaperApplication.aspx">
    <system.web>
      <authorization>
        <allow roles="ProviderOper"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ProviderOperatorHome.aspx">
    <system.web>
      <authorization>
        <allow roles="ODMStateAdministrator,ProviderOper"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ProgramEligibility.aspx">
    <system.web>
      <authorization>
        <allow roles="ODMStateAdministrator,ProviderServices,Operator,SiteVisitOperator,ProviderOper,CredentialingSpecialist,CredentialingChair,CommitteeQualitySpecialist"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SiteVisitAssignments.aspx">
    <system.web>
      <authorization>
        <allow roles="EnrollmentSpecialist,ODMStateAdministrator,SiteVisitAdministrator,TechAdmin,ReadOnly,PNMSuperUser"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CallTracker.aspx">
    <system.web>
      <authorization>
        <allow roles="Operator,ProviderOper"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CallTrackerAdmin.aspx">
    <system.web>
      <authorization>
        <allow roles="ODMStateAdministrator,Operator"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WebserviceConnectivity.aspx">
    <system.web>
      <authorization>
        <allow roles="TechAdmin"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PublicSearch.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="GISSearch.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="PublicSearchNew.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PublicSearchAPI.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="FinancialProviderInformation.aspx">
    <system.web>
      <authorization>
        <allow roles="ODECostReport,ODHCostReport,ODMHospitalCostReport,ODMFQHCCostReport,ODMRHCCostReport,ODMLeadInvestigationCostReport,ODMMSPCostReport,ODMOHFCostReport,EnrollmentSpecialist,ProviderRelationsManagement,ProviderRelations,ODMStateAdministrator,PNMSuperUser,ProviderServices,RecipientEligibility,InfantMortalityLeadEntityAgent,DODDRatesettingCostReportSupervisor,DODDCostReportStaff,ODMRatesetting,ODMCostReportStaff,ODMMDSSectionQReport"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RecipientEligibilityMITS.aspx">
    <system.web>
      <authorization>
        <allow roles="RecipientEligibility,InfantMortalityLeadEntityAgent,ProviderAdministrator,ProviderAgent"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="MITSRedirect.aspx">
	<system.web>
		<authorization>
			<allow roles="RecipientEligibility,InfantMortalityLeadEntityAgent"/>
			<deny users="*" />
		</authorization>
	</system.web>
  </location>
  <location path="PaymentInnovationReports.aspx">
    <system.web>
      <authorization>
        <allow roles="InternalPaymentInnovation,ProviderAdministrator,ODMStateAdministrator,ReadOnly, ProviderServices,SiteVisitAdministrator,CredentialingChair,CredentialingQualityAssurance,ODMCredentialingQualityAssurance,ComplianceSpecialist,SiteVisitOperator,CredentialingSupervisor,ODMCredentialingSpecialist,ProviderAgent"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ORProviderSearchMenu.aspx">
	<system.web>
		<authorization>
			<allow roles="EnrollmentSpecialist,ProviderRelationsManagement,ProviderRelations,ProviderServices,ODMStateAdministrator,PNMSuperUser"/>
			<deny users="*" />
		</authorization>
	</system.web>
    </location>
  <location path="RedirectToCMCDashboardLeftMenu.aspx">
    <system.web>
      <authorization>
        <allow roles="InternalPaymentInnovation,ProviderAdministrator"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="NavigateToMITS.aspx">
    <system.web>
      <authorization>
        <allow roles="ProviderAgent,ProviderAdministrator"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="NewProvider.aspx">
		<system.web>
			<authorization>
				<allow roles="ProviderAgent,ProviderAdministrator,InternalApplicationsEntry, ODMStateAdministrator, EnrollmentSpecialist"/>
				<deny users="*" />
			</authorization>
		</system.web>
 </location>
  <location path="SpecialtySearchMenu.aspx">
    <system.web>
      <authorization>
        <allow roles="ODMCredentialingSupervisor,CredentialingQualityAssurance,InternalApplicationsEntry,CredentialingSupervisor,ODMStateAdministrator,ProviderServices,Operator,ReadOnly,ProviderOper,AppealSpecialist,CredentialingSpecialist,ODMCredentialingSpecialist,CredentialCommitteeChair,CredentialCommitteeMember,EnrollmentSpecialist,LTCInitial/Revalidation,LTCCHOP,APMSpecialist,SiteVisitAdministrator,SiteVisitOperator,ProviderAdministrator,ProviderAgent"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>

