<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Corp.Core.Libraries.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CacheManager.Core" publicKeyToken="5b450b4fb65c4cdb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Memory" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.3" newVersion="9.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AWSSDK.SecretsManager" publicKeyToken="885c28607f98e604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AWSSDK.Core" publicKeyToken="885c28607f98e604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="RijndaelKey" value="57379D49B871B3FB99CD7916F52B8EC32E2326BD55EBE35BBD2C9B644EF94986" />
    <add key="RijndaelIV" value="2302C2DF457BBC02880F86ADFBC4752F" />
  </appSettings>
  <applicationSettings>
    <Corp.Core.Libraries.Properties.Settings>
      <setting name="Common_CareManagement_CareManagementService" serializeAs="String">
        <value>http://localhost:7800/careManagement/serviceentrypoint</value>
      </setting>
      <setting name="Common_WebReference_CareManagementService" serializeAs="String">
        <value>http://localhost:7800/careManagement/serviceentrypoint</value>
      </setting>
      <setting name="Common_LTC_costReportsService" serializeAs="String">
        <value>http://localhost:7800/costReports/serviceentrypoint</value>
      </setting>
      <setting name="Common_FinancialServiceReference_FinancialServiceService" serializeAs="String">
        <value>http://localhost:7800/financialService/serviceentrypoint</value>
      </setting>
      <setting name="Common_claimsws_ClaimsWS" serializeAs="String">
        <value>http://localhost:7800/claims/serviceentrypoint</value>
      </setting>
    </Corp.Core.Libraries.Properties.Settings>
  </applicationSettings>
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="costReportSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7800/costReports/serviceentrypoint"
        binding="basicHttpBinding" bindingConfiguration="costReportSoap"
        contract="LTCCOST.costReportSoapPortType" name="claimsSoap" />
    </client>
  </system.serviceModel>-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="costReportSoap" />
        <binding name="partialProviderManagementSoap1" />
        <binding name="ProductDataServiceBinding" closeTimeout="00:12:00" openTimeout="00:12:00" receiveTimeout="00:12:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="costReportSoap1" />
        <binding name="HospiceEndpointBinding" />
        <binding name="SOAPEventSourceBinding1" />
        <binding name="SOAPEventSourceBinding" />
        <binding name="CorrectAddressWebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="CorrectAddressWebServiceSoap1" />
        <binding name="providerManagementSoap" />
        <binding name="HospiceEndpointBinding2" />
        <binding name="financialServiceSoap" />
        <binding name="incidentManagementSoap" />
        <binding name="acknowledgmentSoap" />
        <binding name="AttachmentSoap1" />
        <binding name="ClaimsServiceSOAP" />
        <binding name="ClaimsServiceSOAP2" />
        <binding name="ClaimsServiceSOAP1" />
        <binding name="ClaimsSearchServiceSOAP" />
        <binding name="AttachmentSoap2" />
        <binding name="MemberEligibilityInquiryServiceSOAP" />
        <binding name="PriorAuthServiceSOAP" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CorrectAddressWebServiceSoap12">
          <textMessageEncoding messageVersion="Soap12">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </textMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2147483646" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7800/costReports/serviceentrypoint" binding="basicHttpBinding" bindingConfiguration="costReportSoap" contract="LTCCOST.costReportSoapPortType" name="claimsSoap" />
      <endpoint address="http://localhost:7800/partialProviderManagement/ReqRes" binding="basicHttpBinding" bindingConfiguration="partialProviderManagementSoap1" contract="PartialProviderManagementReqRes.PartialProviderManagementSoapPortType" name="partialProviderManagementSoap1" />
      <endpoint address="https://dp.test.oh.healthinteractive.net:443/providerManagement/serviceentrypoint/v1.9" binding="basicHttpBinding" bindingConfiguration="ProductDataServiceBinding" contract="ProviderManagement.ProviderManagementSoapPortType" name="enrollProvider" />
      <endpoint address="http://localhost:7800/costReports/serviceentrypoint" binding="basicHttpBinding" bindingConfiguration="costReportSoap1" contract="CostReportReference.costReportSoapPortType" name="claimsSoap1" />
      <endpoint address="http://localhost:4001/Processes/Hospice/Starter/HospiceService.serviceagent/HospiceEndpoint" binding="basicHttpBinding" bindingConfiguration="HospiceEndpointBinding" contract="HospiceReference.portType" name="HospiceEndpoint" />
      <endpoint address="http://localhost:4001/Processes/EligVerification/Starter/EligibilityVerification_Starter" binding="basicHttpBinding" bindingConfiguration="SOAPEventSourceBinding1" contract="EligibilityVerification.EligibilityVerificationPortType" name="SOAPEventSource1" />
      <endpoint address="http://localhost:7800/claims/serviceentrypoint" binding="basicHttpBinding" bindingConfiguration="SOAPEventSourceBinding" contract="ClaimsReference.portType" name="SOAPEventSource" />
      <endpoint address="https://www.intelligentsearch.com/CorrectAddressWS/CorrectAddressWebService.asmx" binding="customBinding" bindingConfiguration="CorrectAddressWebServiceSoap12" contract="IntelligentAddressVerification.CorrectAddressWebServiceSoap" name="CorrectAddressWebServiceSoap12" />
      <endpoint address="http://localhost:7800/providerManagement/serviceentrypoint" binding="basicHttpBinding" bindingConfiguration="providerManagementSoap" contract="ProviderManagementReference.ProviderManagementSoapPortType" name="providerManagementSoap" />
      <endpoint address="http://localhost:4001/Processes/Hospice/Starter/HospiceService.serviceagent/HospiceEndpoint" binding="basicHttpBinding" bindingConfiguration="HospiceEndpointBinding2" contract="HospiceReference.portType" name="HospiceEndpoint2" />
      <endpoint address="http://localhost:7800/financialService/serviceentrypoint" binding="basicHttpBinding" bindingConfiguration="financialServiceSoap" contract="FinancialServices.FinancialServiceSoapPortType" name="financialServiceSoap" />
      <endpoint address="http://localhost:7800/incidentManagement/serviceentrypoint" binding="basicHttpBinding" bindingConfiguration="incidentManagementSoap" contract="IncidentManagementService.IncidentManagementSoapPortType" name="incidentManagementSoap" />
      <endpoint address="http://localhost:7800/acknowledgment/serviceentrypoint" binding="basicHttpBinding" bindingConfiguration="acknowledgmentSoap" contract="AcknowledgmentService.AcknowledgmentSoapPortType" name="acknowledgmentSoap" />
      <endpoint address="http://localhost:7800/attachment/serviceentrypoint" binding="basicHttpBinding" bindingConfiguration="AttachmentSoap1" contract="SI.AttachmentServiceReference.AttachmentSoapPortType" name="AttachmentSoap1" />
      <endpoint address="http://www.example.org/" binding="basicHttpBinding" bindingConfiguration="ClaimsServiceSOAP" contract="FI.ClaimsDentalService.ClaimsServiceDental" name="ClaimsServiceSOAP" />
      <endpoint address="http://www.example.org/" binding="basicHttpBinding" bindingConfiguration="ClaimsServiceSOAP2" contract="FI.ClaimsInstitutionalService.ClaimsServiceInstitutional" name="ClaimsServiceSOAP2" />
      <endpoint address="http://www.example.org/" binding="basicHttpBinding" bindingConfiguration="ClaimsServiceSOAP1" contract="FI.ClaimsProfessionalService.ClaimsServiceProfessional" name="ClaimsServiceSOAP1" />
      <endpoint address="http://www.example.org/" binding="basicHttpBinding" bindingConfiguration="ClaimsSearchServiceSOAP" contract="FI.ClaimsSearchReference.ClaimsSearchService" name="ClaimsSearchServiceSOAP" />
      <endpoint address="http://localhost:7800/attachment/serviceentrypoint" binding="basicHttpBinding" bindingConfiguration="AttachmentSoap2" contract="AttachmentServiceReference.AttachmentSoapPortType" name="AttachmentSoap2" />
      <endpoint address="http://www.example.org/" binding="basicHttpBinding" bindingConfiguration="MemberEligibilityInquiryServiceSOAP" contract="EligInquiryService.MemberEligibilityInquiryService" name="MemberEligibilityInquiryServiceSOAP" />
      <endpoint address="http://www.example.org/" binding="basicHttpBinding" bindingConfiguration="PriorAuthServiceSOAP" contract="PriorAuthServiceReference.PriorAuthService" name="PriorAuthServiceSOAP" />
      <endpoint address="https://www.intelligentsearch.com/CorrectAddressWS/CorrectAddressWebService.asmx" binding="basicHttpBinding" bindingConfiguration="CorrectAddressWebServiceSoap" contract="IntelligentAddressVerification.CorrectAddressWebServiceSoap" name="CorrectAddressWebServiceSoap" />
	</client>
  </system.serviceModel>
  <!--<applicationSettings>
    <Corp.Core.Libraries.Properties.Settings>
      <setting name="Common_CareManagement_CareManagementService" serializeAs="String">
        <value>http://localhost:7800/careManagement/serviceentrypoint</value>
      </setting>
      <setting name="Common_WebReference_CareManagementService" serializeAs="String">
        <value>http://localhost:7800/careManagement/serviceentrypoint</value>
      </setting>
      <setting name="Common_Eligibility_EligibilityVerification__Starter"
        serializeAs="String">
        <value>http://localhost:4001/Processes/EligVerification/Starter/EligibilityVerification_Starter</value>
      </setting>
      <setting name="Common_FinancialServiceReference_FinancialServiceService"
        serializeAs="String">
        <value>http://localhost:7800/financialService/serviceentrypoint</value>
      </setting>
    </Corp.Core.Libraries.Properties.Settings>
  </applicationSettings>-->

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>