
/****** Object:  StoredProcedure [dbo].[DCConv_LkUp_PopulateCATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF]    Script Date: 8/13/2016 3:31:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Richard Mays
-- Create date: 7/21/2016
-- Description:	Fills the CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF
-- =============================================
ALTER PROCEDURE [dbo].[DCConv_LkUp_PopulateCATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] 
	@pin_run_reference_time datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	TRUNCATE TABLE [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF];

	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 3 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'A00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 5 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'A00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 10 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'A00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 11 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'A00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 22 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'A00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 26 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'A00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'A00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 3 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'A01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 5 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'A01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 10 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'A01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 11 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'A01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 22 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'A01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'A01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 3 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'A02'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 5 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'A02'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 10 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'A02'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 11 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'A02'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 22 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'A02'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'A02'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 26 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'A03'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'A03'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 42 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'A03'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 3 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'A04'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'A04'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 42 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'A04'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 11 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'A05'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 3 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'B00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'B00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 3 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'B01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'B01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 3 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'C00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 40 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'C00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'C00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 1 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'D00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 2 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'D00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 3 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'D00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 22 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'D00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 30 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'D00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 40 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'D00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'D00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 8 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'D01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 40 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'D01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'D01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 26 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'D02'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 40 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'D02'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'D02'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 26 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'D03'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 40 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'D03'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'D03'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 1 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'D04'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 2 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'D04'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 40 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'D04'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'D04'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 21 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'D05'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 26 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'D05'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 40 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'D05'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'D05'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 3 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'E00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'E00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 4 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'F00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 40 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'F00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'F00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 19 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'G00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 20 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'G00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 40 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'G00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'G00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 15 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'H00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 22 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'H00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'H00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 15 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'H01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 24 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'I00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'I00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 38 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'J00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'J00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 37 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'J01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'J01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 39 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'J02'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'J02'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 12 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'K00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'K00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 46 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'K00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 12 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'K02'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 7 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'L00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 40 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'L00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'L00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 31 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'L01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 40 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'L01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'L01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 18 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'M00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'M00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 18 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'M01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 24 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'M01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'M01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 13 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'N00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'N00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 13 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'N01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'N01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 10 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'P00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 14 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'P00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 18 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'P00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 25 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'P00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 32 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'P00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'P00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 43 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'P00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 25 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'P01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'P01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 10 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'P02'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'P02'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 43 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'P02'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 3 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'Q01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 35 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'Q01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 40 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'Q01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'Q01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 34 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'Q02'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 10 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'S00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 28 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'S00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'S00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 10 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'S01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 28 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'S01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'S01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 24 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'T00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 25 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'T00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'T00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 9 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'T01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 26 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'T01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'T01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 44 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'U00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 27 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'U01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 27 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'U02'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 27 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'U03'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 44 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'U04'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 27 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'U05'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 44 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'U06'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 29 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'V00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'V00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 23 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'V01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'V01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 14 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'V02'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'V02'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 6 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'W01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 33 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'W01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'W01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 16 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'W02'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 33 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'W02'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'W02'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'W03'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 42 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'W03'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 32 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'X00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'X00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 12 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'X01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'X01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 9 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'X02'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 26 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'X02'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 40 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'X02'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'X02'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 22 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'X03'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'X03'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 26 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'X04'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 32 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'X04'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'X04'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 23 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'X05'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'X05'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 26 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'X06'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 32 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'X06'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 41 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'X06'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 36 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'Z00'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 36 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'Z01'
	INSERT INTO [dbo].[CATEGORY_OF_SERVICE_TYPE_PROVIDER_TYPE_XREF] SELECT 49 AS [CATEGORY_OF_SERVICE_TYPE_ID], prov.[PROVIDER_TYPE_ID] AS [PROVIDER_TYPE_ID], @pin_run_reference_time AS [LAST_MODIFIED_DATE_TIME],'5C8EEA1D-B312-41A7-999C-DEDBCCA3688D' AS [LAST_MODIFIED_USER] FROM [dbo].[PROVIDER_TYPE] prov WHERE MMIS_PROVIDER_TYPE_ID = 'Z02'
END