.RadListBox_PDMSModern {
  color: #333333;
  font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadListBox_PDMSModern .rlbGroup,
  .RadListBox_PDMSModern .rlbTemplateContainer {
    border-color: #e6e6e6;
    color: #333333;
    background-color: #ffffff; }
  .RadListBox_PDMSModern .rlbItem.rlbHovered {
    color: #000000;
    background-color: #e7e7e7; }
  .RadListBox_PDMSModern .rlbItem.rlbSelected {
    color: #ffffff;
    background-color: #25a0da; }
  .RadListBox_PDMSModern .rlbHighlight {
    color: #000000;
    background-color: #e7e7e7; }
  .RadListBox_PDMSModern .rlbDropClue {
    background-image: url('ListBox/rlbDropClue.png'); }
  .RadListBox_PDMSModern .rlbDropClueAbove {
    border-top-color: #8e8e8e; }
  .RadListBox_PDMSModern .rlbDropClueBelow {
    border-bottom-color: #8e8e8e; }
  .RadListBox_PDMSModern .rlbButton {
    border-color: #e0e0e0;
    color: #000000;
    background-color: #f9f9f9;
    height: auto;
    border-width: 1px;
    border-style: solid; }
    .RadListBox_PDMSModern .rlbButton:hover {
      border-color: #cecece;
      color: #000000;
      background-color: #e7e7e7; }
    .RadListBox_PDMSModern .rlbButton:active {
      border-color: #25a0da;
      color: #ffffff;
      background-color: #25a0da; }
    .RadListBox_PDMSModern .rlbButton .rlbButtonBL,
    .RadListBox_PDMSModern .rlbButton .rlbButtonBR,
    .RadListBox_PDMSModern .rlbButton .rlbButtonTR,
    .RadListBox_PDMSModern .rlbButton .rlbButtonTL {
      margin: 0;
      padding: 0;
      border: 0;
      background: none;
      display: block;
      position: static; }
    .RadListBox_PDMSModern .rlbButton .rlbButtonText {
      padding-top: 0;
      height: 20px;
      background: none;
      line-height: 20px;
      position: static; }
  .RadListBox_PDMSModern .rlbNoButtonText {
    padding: 0;
    width: 20px; }
    .RadListBox_PDMSModern .rlbNoButtonText .rlbButtonBL,
    .RadListBox_PDMSModern .rlbNoButtonText .rlbButtonBR,
    .RadListBox_PDMSModern .rlbNoButtonText .rlbButtonTR,
    .RadListBox_PDMSModern .rlbNoButtonText .rlbButtonTL {
      width: 20px;
      height: 20px; }
    .RadListBox_PDMSModern .rlbNoButtonText .rlbButtonText {
      padding: 0;
      margin: 0;
      width: 20px;
      height: 20px;
      display: block;
      position: static; }
  .RadListBox_PDMSModern .rlbButtonAreaTop .rlbNoButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaBottom .rlbNoButtonText {
    padding: 0; }
  .RadListBox_PDMSModern .rlbDisabled,
  .RadListBox_PDMSModern .rlbDisabled:hover,
  .RadListBox_PDMSModern .rlbDisabled:active {
    border-color: #e0e0e0;
    color: #000000;
    background-color: #f9f9f9; }
  .RadListBox_PDMSModern .rlbMoveUp .rlbButtonText {
    background-position: 0 0; }
  .RadListBox_PDMSModern .rlbMoveUp:active .rlbButtonText {
    background-position: -400px 0; }
  .RadListBox_PDMSModern .rlbMoveUpDisabled .rlbButtonText,
  .RadListBox_PDMSModern .rlbMoveUpDisabled:hover .rlbButtonText {
    background-position: -200px 0; }
  .RadListBox_PDMSModern .rlbMoveDown .rlbButtonText {
    background-position: 0 -25px; }
  .RadListBox_PDMSModern .rlbMoveDown:active .rlbButtonText {
    background-position: -400px -25px; }
  .RadListBox_PDMSModern .rlbMoveDownDisabled .rlbButtonText,
  .RadListBox_PDMSModern .rlbMoveDownDisabled:hover .rlbButtonText {
    background-position: -200px -25px; }
  .RadListBox_PDMSModern .rlbMoveToTop .rlbButtonText {
    background-position: 0 -275px; }
  .RadListBox_PDMSModern .rlbMoveToTop:active .rlbButtonText {
    background-position: -400px -275px; }
  .RadListBox_PDMSModern .rlbMoveToTopDisabled .rlbButtonText,
  .RadListBox_PDMSModern .rlbMoveToTopDisabled:hover .rlbButtonText {
    background-position: -200px -275px; }
  .RadListBox_PDMSModern .rlbMoveToBottom .rlbButtonText {
    background-position: 0 -300px; }
  .RadListBox_PDMSModern .rlbMoveToBottom:active .rlbButtonText {
    background-position: -400px -300px; }
  .RadListBox_PDMSModern .rlbMoveToBottomDisabled .rlbButtonText,
  .RadListBox_PDMSModern .rlbMoveToBottomDisabled:hover .rlbButtonText {
    background-position: -200px -300px; }
  .RadListBox_PDMSModern .rlbDelete .rlbButtonText {
    background-position: 0 -50px; }
  .RadListBox_PDMSModern .rlbDelete:active .rlbButtonText {
    background-position: -400px -50px; }
  .RadListBox_PDMSModern .rlbDeleteDisabled .rlbButtonText,
  .RadListBox_PDMSModern .rlbDeleteDisabled:hover .rlbButtonText {
    background-position: -200px -50px; }
  .RadListBox_PDMSModern .rlbButtonAreaRight .rlbTransferTo .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaLeft .rlbTransferFrom .rlbButtonText {
    background-position: 0 -100px; }
  .RadListBox_PDMSModern .rlbButtonAreaLeft .rlbTransferTo .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaRight .rlbTransferFrom .rlbButtonText {
    background-position: 0 -75px; }
  .RadListBox_PDMSModern .rlbButtonAreaLeft .rlbTransferFrom:active .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaRight .rlbTransferTo:active .rlbButtonText {
    background-position: -400px -100px; }
  .RadListBox_PDMSModern .rlbButtonAreaLeft .rlbTransferTo:active .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaRight .rlbTransferFrom:active .rlbButtonText {
    background-position: -400px -75px; }
  .RadListBox_PDMSModern .rlbButtonAreaRight .rlbTransferToDisabled .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaLeft .rlbTransferFromDisabled .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaRight .rlbTransferToDisabled:hover .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaLeft .rlbTransferFromDisabled:hover .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaRight .rlbTransferToDisabled:active .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaLeft .rlbTransferFromDisabled:active .rlbButtonText {
    background-position: -200px -100px; }
  .RadListBox_PDMSModern .rlbButtonAreaLeft .rlbTransferToDisabled .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaRight .rlbTransferFromDisabled .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaLeft .rlbTransferToDisabled:hover .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaRight .rlbTransferFromDisabled:hover .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaLeft .rlbTransferToDisabled:active .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaRight .rlbTransferFromDisabled:active .rlbButtonText {
    background-position: -200px -75px; }
  .RadListBox_PDMSModern .rlbButtonAreaRight .rlbTransferAllTo .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaLeft .rlbTransferAllFrom .rlbButtonText {
    background-position: 0 -150px; }
  .RadListBox_PDMSModern .rlbButtonAreaRight .rlbTransferAllFrom .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaLeft .rlbTransferAllTo .rlbButtonText {
    background-position: 0 -125px; }
  .RadListBox_PDMSModern .rlbButtonAreaRight .rlbTransferAllTo:active .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaLeft .rlbTransferAllFrom:active .rlbButtonText {
    background-position: -400px -150px; }
  .RadListBox_PDMSModern .rlbButtonAreaRight .rlbTransferAllFrom:active .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaLeft .rlbTransferAllTo:active .rlbButtonText {
    background-position: -400px -125px; }
  .RadListBox_PDMSModern .rlbButtonAreaRight .rlbTransferAllToDisabled .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaLeft .rlbTransferAllFromDisabled .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaRight .rlbTransferAllToDisabled:hover .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaLeft .rlbTransferAllFromDisabled:hover .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaRight .rlbTransferAllToDisabled:active .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaLeft .rlbTransferAllFromDisabled:active .rlbButtonText {
    background-position: -200px -150px; }
  .RadListBox_PDMSModern .rlbButtonAreaRight .rlbTransferAllFromDisabled .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaLeft .rlbTransferAllToDisabled .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaRight .rlbTransferAllFromDisabled:hover .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaLeft .rlbTransferAllToDisabled:hover .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaRight .rlbTransferAllFromDisabled:active .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaLeft .rlbTransferAllToDisabled:active .rlbButtonText {
    background-position: -200px -125px; }
  .RadListBox_PDMSModern .rlbButtonAreaTop .rlbTransferFrom .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaBottom .rlbTransferTo .rlbButtonText {
    background-position: 0 -200px; }
  .RadListBox_PDMSModern .rlbButtonAreaTop .rlbTransferTo .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaBottom .rlbTransferFrom .rlbButtonText {
    background-position: 0 -175px; }
  .RadListBox_PDMSModern .rlbButtonAreaTop .rlbTransferFrom:active .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaBottom .rlbTransferTo:active .rlbButtonText {
    background-position: -400px -200px; }
  .RadListBox_PDMSModern .rlbButtonAreaTop .rlbTransferTo:active .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaBottom .rlbTransferFrom:active .rlbButtonText {
    background-position: -400px -175px; }
  .RadListBox_PDMSModern .rlbButtonAreaTop .rlbTransferFromDisabled .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaBottom .rlbTransferToDisabled .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaTop .rlbTransferFromDisabled:hover .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaBottom .rlbTransferToDisabled:hover .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaTop .rlbTransferFromDisabled:active .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaBottom .rlbTransferToDisabled:active .rlbButtonText {
    background-position: -200px -200px; }
  .RadListBox_PDMSModern .rlbButtonAreaTop .rlbTransferToDisabled .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaBottom .rlbTransferFromDisabled .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaTop .rlbTransferToDisabled:hover .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaBottom .rlbTransferFromDisabled:hover .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaTop .rlbTransferToDisabled:active .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaBottom .rlbTransferFromDisabled:active .rlbButtonText {
    background-position: -200px -175px; }
  .RadListBox_PDMSModern .rlbButtonAreaTop .rlbTransferAllFrom .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaBottom .rlbTransferAllTo .rlbButtonText {
    background-position: 0 -250px; }
  .RadListBox_PDMSModern .rlbButtonAreaTop .rlbTransferAllTo .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaBottom .rlbTransferAllFrom .rlbButtonText {
    background-position: 0 -225px; }
  .RadListBox_PDMSModern .rlbButtonAreaTop .rlbTransferAllFrom:active .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaBottom .rlbTransferAllTo:active .rlbButtonText {
    background-position: -400px -250px; }
  .RadListBox_PDMSModern .rlbButtonAreaTop .rlbTransferAllTo:active .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaBottom .rlbTransferAllFrom:active .rlbButtonText {
    background-position: -400px -225px; }
  .RadListBox_PDMSModern .rlbButtonAreaTop .rlbTransferAllFromDisabled .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaBottom .rlbTransferAllToDisabled .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaTop .rlbTransferAllFromDisabled:hover .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaBottom .rlbTransferAllToDisabled:hover .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaTop .rlbTransferAllFromDisabled:active .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaBottom .rlbTransferAllToDisabled:active .rlbButtonText {
    background-position: -200px -250px; }
  .RadListBox_PDMSModern .rlbButtonAreaTop .rlbTransferAllToDisabled .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaBottom .rlbTransferAllFromDisabled .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaTop .rlbTransferAllToDisabled:hover .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaBottom .rlbTransferAllFromDisabled:hover .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaTop .rlbTransferAllToDisabled:active .rlbButtonText,
  .RadListBox_PDMSModern .rlbButtonAreaBottom .rlbTransferAllFromDisabled:active .rlbButtonText {
    background-position: -200px -225px; }

.RadListBox_PDMSModern .rlbHighlight {
  color: #000000;
  background-color: #e7e7e7; }

