.RadToolBar_Default {
  color: #333333;
  background-color: #e6e6e6;
  font-size: 12px;
  line-height: 20px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadToolBar_Default .rtbOuter {
    border-color: #b3b3b3;
    background-color: #fafafa;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5); }
  .RadToolBar_Default .rtbWrap {
    *color: #333333; }
  .RadToolBar_Default .rtbChoiceArrow {
    background-image: url('ToolBar/rtbDropArrows.png'); }
  .RadToolBar_Default .rtbItemClicked .rtbChoiceArrow,
  .RadToolBar_Default .rtbSplBtnExpanded .rtbChoiceArrow,
  .RadToolBar_Default .rtbDropDownExpanded .rtbChoiceArrow {
    background-image: url('ToolBar/rtbClickedDropArrows.png'); }
  .RadToolBar_Default .rtbItemHovered .rtbWrap,
  .RadToolBar_Default .rtbItemHovered .rtbOut,
  .RadToolBar_Default .rtbItemHovered .rtbMid,
  .RadToolBar_Default .rtbItemHovered .rtbIn {
    color: #000000;
    background-image: url('ToolBar/rtbHoverBg.png'); }
  .RadToolBar_Default .rtbItemFocused .rtbWrap,
  .RadToolBar_Default .rtbItemFocused .rtbOut,
  .RadToolBar_Default .rtbItemFocused .rtbMid,
  .RadToolBar_Default .rtbItemFocused .rtbIn {
    color: #000000;
    background-image: url('ToolBar/rtbHoverBg.png'); }
  .RadToolBar_Default .rtbItemClicked .rtbWrap,
  .RadToolBar_Default .rtbItemClicked .rtbOut,
  .RadToolBar_Default .rtbItemClicked .rtbMid,
  .RadToolBar_Default .rtbItemClicked .rtbIn {
    color: #ffffff;
    background-image: url('ToolBar/rtbClickedBg.png'); }
  .RadToolBar_Default .rtbSplBtnExpanded .rtbWrap,
  .RadToolBar_Default .rtbSplBtnExpanded .rtbOut,
  .RadToolBar_Default .rtbSplBtnExpanded .rtbMid,
  .RadToolBar_Default .rtbSplBtnExpanded .rtbIn,
  .RadToolBar_Default .rtbDropDownExpanded .rtbWrap,
  .RadToolBar_Default .rtbDropDownExpanded .rtbOut,
  .RadToolBar_Default .rtbDropDownExpanded .rtbMid,
  .RadToolBar_Default .rtbDropDownExpanded .rtbIn,
  .RadToolBar_Default .rtbChecked .rtbWrap,
  .RadToolBar_Default .rtbChecked .rtbOut,
  .RadToolBar_Default .rtbChecked .rtbMid,
  .RadToolBar_Default .rtbChecked .rtbIn {
    color: #ffffff;
    background-image: url('ToolBar/rtbActiveBg.png'); }
  .RadToolBar_Default .rtbSeparator {
    border-color: #939393;
    background-color: #f7f7f7; }

.RadToolBar_Default_Horizontal .rtbOuter {
  background-image: url('ToolBar/rtbControlBg.png');
  background-position: 0 100%; }

.RadToolBar_Default_Vertical .rtbOuter {
  background-image: url('ToolBar/rtbVerticalControlBg.png');
  background-position: 100% 0; }

.RadToolBarDropDown_Default {
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  color: #333333;
  border-color: #cccccc;
  background-color: #ffffff;
  background-image: url('ToolBar/rtbDropDownBg.png'); }
  .RadToolBarDropDown_Default .rtbTopFix,
  .RadToolBarDropDown_Default .rtbBottomFix,
  .RadToolBarDropDown_Default .rtbGroup {
    background-image: url('ToolBar/rtbDropDownBg.png');
    background-color: #ffffff; }
  .RadToolBarDropDown_Default .rtbBottomLeft,
  .RadToolBarDropDown_Default .rtbRoundedCorners {
    background-image: url('ToolBar/rtbRoundedLeft.png'); }
  .RadToolBarDropDown_Default .rtbTopRight,
  .RadToolBarDropDown_Default .rtbBottomRight {
    background-image: url('ToolBar/rtbRoundedRight.png'); }
  .RadToolBarDropDown_Default .rtbTopFix,
  .RadToolBarDropDown_Default .rtbBottomFix,
  .RadToolBarDropDown_Default .rtbRoundedCorners .rtbFirst {
    border-color: #cccccc; }
  .RadToolBarDropDown_Default .rtbWrap {
    border-radius: 3px;
    *color: #333333;
    background-image: url('Common/radGradientListSprite.png') ; }
  .RadToolBarDropDown_Default .rtbItemHovered .rtbWrap,
  .RadToolBarDropDown_Default .rtbItemFocused .rtbWrap {
    border-color: darkgray;
    color: #000000;
    background-color: #c2c2c2;
    background-image: linear-gradient(gainsboro, #c2c2c2); }
  .RadToolBarDropDown_Default .rtbItemClicked .rtbWrap {
    border-color: #676767;
    color: #ffffff;
    background-color: #808080;
    background-image: linear-gradient(#9a9a9a, #808080); }
  .RadToolBarDropDown_Default .rtbSeparator {
    border-color: #939393;
    background-color: #f7f7f7; }

.RadToolBarDropDown_Default_rtl .rtbBottomLeft,
.RadToolBarDropDown_Default_rtl .rtbRoundedCorners {
  background-image: url('ToolBar/rtbRoundedLeft_rtl.png'); }

.RadToolBarDropDown_Default_rtl .rtbTopRight,
.RadToolBarDropDown_Default_rtl .rtbBottomRight {
  background-image: url('ToolBar/rtbRoundedRight_rtl.png'); }

.RadToolBarDropDown_Default_rtl .rtbTopFix,
.RadToolBarDropDown_Default_rtl .rtbBottomFix,
.RadToolBarDropDown_Default_rtl .rtbGroup,
.RadToolBarDropDown_Default_rtl .rtbShadows .rtbGroup {
  background-position: 100% 0; }

