<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="mainDB" connectionString="Data Source=UORATMMSQL01OHP.MAXCORP.MAXIMUS, 26000;Initial Catalog=OH_PNM_TRN;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="NPI" connectionString="Data Source=UORATMMSQL01OHP.MAXCORP.MAXIMUS, 26000;Initial Catalog=NPI;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>
