<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="mainDB" connectionString="Data Source=UCOCTMMSQL01PDM.maxcorp.maximus;Initial Catalog=DC_PDMS_UAT01;User Id=dcpdms;password=pdmsu@t;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="NPI" connectionString="Data Source=UCOCTMMSQL01PDM.maxcorp.maximus;Initial Catalog=NPI;User Id=dcpdms;password=pdmsu@t;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="SQLLogging" value="Off" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>
