<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="mainDB" connectionString="Data Source=UCOCDMMSQL01PDM.maxcorp.maximus;Initial Catalog=DC_PDMS_INT03;User Id=dcpdms;password=dcpdms;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="NPI" connectionString="Data Source=UCOCDMMSQL01PDM.maxcorp.maximus;Initial Catalog=NPI;User Id=dcpdms;password=dcpdms;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>

