<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <EnvironmentName>BUILD01</EnvironmentName>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>..\Publish\Dev\Shuttle\PDMSRestServices\</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <_TargetId>Folder</_TargetId>
    <PackageFileName>PDMS.zip</PackageFileName>
    <SiteUrlToLaunchAfterPublish />
    <PackageUrl>..\Publish\Dev\Drop\</PackageUrl>
    <TargetFramework>net8.0</TargetFramework>
    <ProjectGuid>a34ec8b1-1887-4d7d-90eb-d1462d45ca6f</ProjectGuid>
    <SelfContained>false</SelfContained>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <DesktopBuildPackageLocation>PDMSRestServices.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
  </PropertyGroup>
</Project>