<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
	<EnvironmentName>TRN</EnvironmentName>
	<PublishProvider>FileSystem</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Mixed Platforms</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>..\Publish\TRN\Shuttle\PDMSRestServices\</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <PackageUrl>..\Publish\TRN\Drop\</PackageUrl>
    <_TargetId>Folder</_TargetId>
    <PackageFileName>PDMSRestServices.zip</PackageFileName>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <SelfContained>false</SelfContained>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <WebPublishMethod>FileSystem</WebPublishMethod>
  </PropertyGroup>
</Project>