<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FileProcessorTestFileGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SourceSystem" value="EWS" />
    <add key="SourceModule" value="Batch Import" />
    <add key="ErrorEmailRecipients" value="ahinz@policy-studies.com" />
    <add key="EmailSender" value="TXNMSN@maximus.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="WriteLogToConsole" value="false"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <FileProcessorTestFileGenerator.Properties.Settings>
      <setting name="NumFiles" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="NumRecordsPerFile" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TemplateName" serializeAs="String">
        <value />
      </setting>
      <setting name="DropFolder" serializeAs="String">
        <value>C:\delthis\FileWatcher\SAM</value>
      </setting>
      <setting name="TemplateFolder" serializeAs="String">
        <value>C:\Projects\Extra\FileProcessor\FileProcessorTest\Templates\</value>
      </setting>
    </FileProcessorTestFileGenerator.Properties.Settings>
  </userSettings>
</configuration>