<?xml version="1.0" encoding="utf-8" ?>
<!-- Do NOT rename this file to app.config or debugging will not work properly. A deployment package will function property but debugging will not -->
<configuration>
    <connectionStrings>
        <!-- PDMS Development -->
        <add name="mainDB" connectionString="Data Source=UVAABMMMPCSQL00.MAXCORP.MAXIMUS, 26000;Initial Catalog=MES_DEMO;Integrated Security=True; Max Pool Size=1500" providerName="System.Data.SqlClient"/>
        <!-- <add name="mainDB" connectionString="Data Source=UORADMMSQL01OHP.MAXCORP.MAXIMUS, 26000;Initial Catalog=OH_PNM_DEV01;Integrated Security=True" providerName="System.Data.SqlClient"/> -->
        <add name="BUILDDB" connectionString="Data Source=UORADMMSQL01OHP.MAXCORP.MAXIMUS, 26000;Initial Catalog=OH_PNM_BUILDP3;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="INTDB1" connectionString="Data Source=UORADMMSQL01OHP.MAXCORP.MAXIMUS, 26000;Initial Catalog=OH_PNM_INT01P3;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="INTDB2" connectionString="Data Source=UORATMMSQL01OHP.MAXCORP.MAXIMUS, 26000;Initial Catalog=OH_PNM_INT02P3;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="NPI" connectionString="Data Source=UORADMMSQL02OHP.MAXCORP.MAXIMUS, 26000;Initial Catalog=NPI;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <!--<add name="conversionDB" connectionString="Data Source=UORADMMSQL01OHP.MAXCORP.MAXIMUS, 26000;Initial Catalog=OH_PNM_CONV1_Phase1;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    </connectionStrings>
    <appSettings>
        <add key="now" value="2012-07-06 10:03:31.223"/>
        <add key="SQLLogging" value="Off" />
        <!-- On/Off -->
    </appSettings>
    <!--runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" Version="13.0.0.0" />
                <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime-->
</configuration>