<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--<add key="Server" value="ldap.forumsys.com" />
    <add key="Port" value="389" />
    <add key="BindDN" value="dc=example,dc=com" />
    <add key="UserName" value="tesla" />
    <add key="Password" value="password" />-->
    <add key="Server" value="66.145.54.103" />
    <add key="Port" value="636" />
    <add key="BindDN" value="dc=id,dc=ohio,dc=gov" />
    <add key="UserName" value="MCD-pnminthtssit" />
    <add key="Password" value="E7cQ\#h#:qQM" />
    <!--<add key="Server" value="Maxcorp.Maximus" />
    <add key="Port" value="389" />-->
  </appSettings>
</configuration>