<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourceSystem" value="EWS" />
    <add key="SourceModule" value="Batch Import" />
    <add key="ErrorEmailRecipients" value="ahinz@policy-studies.com"/>
    <add key="EmailSender" value="TXNMSN@maximus.com"/>
    <add key="configFile" value="NE_PDMS.xml"/>
    <add key="runInteractively" value="false" />
    <add key="WriteLogToConsole" value="true"/>
    <add key="WriteVerboseLog" value="true"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>