<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <!-- do change this to your gmail ID and pwd for testing. -->
      <smtp deliveryMethod="Network" from="IowaMedicaid.EHRIncentive@Policy-Studies.com">
        <network host="psimail.corp.psi" port="25" defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>