USE [DC_PDMS_BASE01]
GO
/****** Object:  StoredProcedure [dbo].[DCConv_ConvertGroups]    Script Date: 5/11/2016 9:15:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Richard Mays
-- Create date: 5/10/2016
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[DCConv_ConvertGroups] 
(
	@pin_conv_run_id varchar(20),
	@pin_conv_run_time datetime,
	@pin_conv_data_export_date datetime
	
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @currentTable varchar(50);

	-- create synonyms for each DC data source table
	CREATE SYNONYM SRC_Providers FOR  [DC_PDMS_CONVSRC01].[dbo].[DT_PROVDRTB_STG];
	CREATE SYNONYM SRC_Enrollments FOR [DC_PDMS_CONVSRC01].[dbo].[DT_PENROLTB_STG];
	CREATE SYNONYM SRC_ProviderAddress FOR [DC_PDMS_CONVSRC01].[dbo].[DT_PADDRSTB_STG];
	CREATE SYNONYM SRC_ProviderAltID FOR [DC_PDMS_CONVSRC01].[dbo].[DT_PALTIDTB_STG];

	-- create mapping table between DC sys-ids and PDMS tables
	CREATE TABLE #groupIds
	(
		SysId int, 
		RegistrationId int,
		ProviderId int
	);

	BEGIN TRY
		BEGIN TRANSACTION

		-- add the mapping for the group ids 
		INSERT INTO #groupIds
		SELECT DISTINCT [P-SYS-ID], ROW_NUMBER() OVER(ORDER BY [P-SYS-ID]), ROW_NUMBER() OVER(ORDER BY [P-SYS-ID]) FROM SRC_Providers
		WHERE [P-INDIV-GRP-CD] = 'G';

		-- convert the registration data
		SET @currentTable = 'REGISTRATION';

		SET IDENTITY_INSERT dbo.[REGISTRATION] ON;

		INSERT INTO [dbo].[REGISTRATION] ([REG_ID], 
			[REQUESTED_EFFECTIVE_DATE],
			[CHANGE_EFFECTIVE_DATE],
			[REGISTRATION_STATUS_TYPE_ID],
			[LAST_MODIFIED_DATE_TIME],
			[LAST_MODIFIED_USER],
			[REG_PROGRAM_STATUS_TYPE_ID],
			[DIDD_REFERRAL_ID],
			[SUBMIT_DATE_TIME],
			[DIDD_COMMISSIONER_DATE_TIME],
			[PECOS_VERIFIED],
			[IS_PAPER_APPLICATION],
			[REG_CREATE_DATE_TIME])
		SELECT map.RegistrationId AS REG_ID, 
		(SELECT MIN([P-STAT-EFF-DT]) FROM SRC_Enrollments WHERE [P-ENROL-STAT-TY-CD] = '00' AND [P-SYS-ID] = map.SysId) AS [REQUESTED_EFFECTIVE_DATE],
		(SELECT MIN([P-STAT-EFF-DT]) FROM SRC_Enrollments WHERE [P-ENROL-STAT-TY-CD] = '00' AND [P-SYS-ID] = map.SysId) AS [CHANGE_EFFECTIVE_DATE],
		1 AS [REGISTRATION_STATUS_TYPE_ID],
		@pin_conv_run_time AS [LAST_MODIFIED_DATE_TIME],
		dbo.fn_GetUniqueGUID(2) AS [LAST_MODIFIED_USER],
		6 AS [REG_PROGRAM_STATUS_TYPE_ID],
		NULL AS [DIDD_REFERRAL_ID],  -- to be filled in once the DIDD data are gathered
		prov.[P-APPL-DT] AS [SUBMIT_DATE_TIME],
		NULL AS [DIDD_COMMISSIONER_DATE_TIME], -- to be filled in once the DIDD data are gathered
		0 AS [PECOS_VERIFIED],
		NULL AS [IS_PAPER_APPLICATION],
		@pin_conv_run_time AS [REG_CREATE_DATE_TIME]
		FROM #groupIds map 
		INNER JOIN SRC_Providers prov ON prov.[P-SYS-ID] = map.SysID;

		SET IDENTITY_INSERT dbo.[REGISTRATION] OFF;

		-- convert the providers
		SET IDENTITY_INSERT dbo.[REG_PROVIDER] ON;

		INSERT INTO [dbo].[REG_PROVIDER]
				   ([REG_ID]
				   ,[NAME]
				   ,[PARTY_ID]
				   ,[DBA]
				   ,[NPI]
				   ,[TAX_ID]
				   ,[ENTITY_TYPE_ID]
				   ,[PROVIDER_TYPE_ID]
				   ,[CONTACT_NAME]
				   ,[CONTACT_ADDRESS1]
				   ,[CONTACT_ADDRESS2]
				   ,[CONTACT_CITY]
				   ,[CONTACT_STATE]
				   ,[CONTACT_ZIP]
				   ,[CONTACT_EXT_ZIP]
				   ,[CONTACT_PHONE_NUMBER]
				   ,[CONTACT_FAX_NUMBER]
				   ,[CONTACT_EMAIL_ADDRESS]
				   ,[MODIFIED_STATUS_TYPE_ID]
				   ,[LAST_MODIFIED_DATE_TIME]
				   ,[LAST_MODIFIED_USER]
				   ,[ENROLLMENT_STATUS_CODE]
				   ,[TERM_DATE]
				   ,[FIRST_NAME]
				   ,[LAST_NAME]
				   ,[MIDDLE_INITIAL]
				   ,[BIRTH_DATE]
				   ,[DEATH_DATE]
				   ,[END_DATE]
				   ,[TERM_REASON_ID]
				   ,[TYPE_OF_PRACTICE_ID]
				   ,[TAX_ID_TYPE_ID]
				   ,[NPI_START_DATE]
				   ,[NPI_END_DATE])
			SELECT map.ProviderId AS [REG_ID],
				   CASE WHEN LEN(RTRIM(LTRIM(prov.[P-NAM]))) = 0 THEN RTRIM(LTRIM(prov.[P-DBA-NAM])) ELSE RTRIM(LTRIM(prov.[P-NAM])) END AS [NAME],
				   NULL AS [PARTY_ID],
				   prov.[P-DBA-NAM] AS [DBA],
				   prov.[P-NPI-NUM] AS [NPI],
				   primary_adr.[P-TAX-KEY-ID] AS [TAX_ID],
				   dbo.GetProviderEntityType(prov.[P-SYS-ID]) AS [ENTITY_TYPE_ID],
				   dbo.GetProviderType(prov.[P-SYS-ID]) AS [PROVIDER_TYPE_ID],
				   primary_adr.[P-CONTCT-NAM] AS [CONTACT_NAME],
				   primary_adr.[P-LINE1-AD] AS [CONTACT_ADDRESS1],
				   primary_adr.[P-LINE2-AD] AS [CONTACT_ADDRESS2],
				   primary_adr.[P-CITY-NAM] AS [CONTACT_CITY],
				   primary_adr.[P-ST-CD] AS [CONTACT_STATE],
				   primary_adr.[P-ZIP5-CD] AS [CONTACT_ZIP],
				   primary_adr.[P-ZIP4-CD] AS [CONTACT_EXT_ZIP],
				   primary_adr.[P-CONTCT-PHON-NUM] AS [CONTACT_PHONE_NUMBER], 
			       primary_adr.[P-CONTCT-FAX-NUM]  AS [CONTACT_FAX_NUMBER],
				   primary_adr.[P-CONTCT-EMAIL-AD-TEXT]  AS [CONTACT_EMAIL_ADDRESS],
				   1  AS [MODIFIED_STATUS_TYPE_ID],
				   @pin_conv_run_time AS [LAST_MODIFIED_DATE_TIME],
				   dbo.fn_GetUniqueGUID(2) AS [LAST_MODIFIED_USER],
				   dbo.fn_MapDCEnrollmentStatusToPDMS(en.[P-ENROL-STAT-TY-CD]) AS ENROLLMENT_STATUS_CODE,
				   NULL AS TERM_DATE, -- will have to change later
				   CASE WHEN LEN(RTRIM(LTRIM(prov.[P-FST-NAM]))) = 0 THEN prov.[P-DBA-FST-NAM] ELSE prov.[P-FST-NAM] END AS [FIRST_NAME],
				   CASE WHEN LEN(RTRIM(LTRIM(prov.[P-LAST-NAM]))) = 0 THEN prov.[P-DBA-LAST-NAM] ELSE prov.[P-LAST-NAM] END AS [LAST_NAME],
				   CASE WHEN LEN(RTRIM(LTRIM(prov.[P-MI-NAM]))) = 0 THEN prov.[P-DBA-MI-NAM] ELSE prov.[P-MI-NAM] END AS [MIDDLE_INITIAL],
				   prov.[P-DOB-DT] AS [BIRTH_DATE],
				   (SELECT TOP 1 [P-STAT-END-DT] FROM SRC_Enrollments enr WHERE [P-ENROL-STAT-TY-CD] = '41' AND enr.[P-SYS-ID] = map.[P-SYS-ID] ORDER BY [P-STAT-END-DT] DESC) AS [DEATH_DATE],  -- use the most recent date of death in case there's more than one
				   NULL AS [END_DATE],  -- *** Must ask Jon what this should be!!
				   dbo.fn_MapDCTerminationReasonToPDMS(en.[P-ENROL-STAT-TY-CD]) AS [TERM_REASON_ID],
				   NULL AS [TYPE_OF_PRACTICE_ID], -- ** Must ask Jon what this should be
				   NULL AS [TAX_ID_TYPE_ID], -- not sure what to do with this since the tax id table talks about being for provider in data elements, but the table description says it's for the owner.
				   (SELECT alt_id.[P-ALT-ID-BEG-DT] FROM SRC_ProviderAltID alt_id WHERE alt_id.[P-SYS-ID] = map.[P-SYS-ID] AND alt_id.[P-ALT-ID-TY-CD] = 'XX' AND alt_id.[P-ALT-ID] = prov.[P-NPI-NUM] AND CASE WHEN ISDATE(alt_id.[P-ALT-ID-END-DT]) = 1 THEN alt_id.[P-ALT-ID-END-DT] ELSE '1/1/1753' END > @pin_conv_data_export_date)  AS [NPI_START_DATE],
				   (SELECT alt_id.[P-ALT-ID-END-DT] FROM SRC_ProviderAltID alt_id WHERE alt_id.[P-SYS-ID] = map.[P-SYS-ID] AND alt_id.[P-ALT-ID-TY-CD] = 'XX' AND alt_id.[P-ALT-ID] = prov.[P-NPI-NUM] AND CASE WHEN ISDATE(alt_id.[P-ALT-ID-END-DT]) = 1 THEN alt_id.[P-ALT-ID-END-DT] ELSE '1/1/1753' END > @pin_conv_data_export_date) AS [NPI_END_DATE]
			FROM #groupIds map
			INNER JOIN SRC_Providers prov ON prov.[P-SYS-ID] = map.[P-SYS-ID]
			INNER JOIN SRC_ProviderAddress primary_adr ON primary_adr.[P-SYS-ID] = map.[P-SYS-ID] AND primary_adr.[P-ADR-TY-CD] = 'L'

		SET IDENTITY_INSERT dbo.[REG_PROVIDER] OFF;
		IF OBJECT_ID('tempdb..#groupIds') IS NOT NULL
			DROP TABLE #groupIds;

		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH

		ROLLBACK TRANSACTION;

		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorLine int;
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;
		DECLARE @ErrorNumber int;
		DECLARE @ErrorProcedure varchar(128);

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorLine = ERROR_LINE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE(),
			@ErrorNumber = ERROR_NUMBER(),
			@ErrorProcedure = ERROR_PROCEDURE();

		-- add the error to the log
		INSERT INTO [dbo].[DCConv_Errors]([RunID],[TableContext],[ColumnContext],[ErrorLine],[ErrorNumber],[ErrorMessage],[ErrorProcedure])
		VALUES
        (@pin_conv_run_id,@currentTable,'', @ErrorLine, @ErrorNumber, @ErrorMessage, @ErrorProcedure);

		IF OBJECT_ID('tempdb..#groupIds') IS NOT NULL
			DROP TABLE #groupIds;
		
		-- this will be a fatal error
		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
	END CATCH
END
