DECLARE @provider_id varchar(20) = '000000900';
DECLARE @sys_id int;

SELECT [P-SYS-ID] FROM [dbo].[DT_PROVDRTB_STG] WHERE [P-ID] = @provider_id

SELECT @sys_id = [P-SYS-ID] FROM [dbo].[DT_PROVDRTB_STG] WHERE [P-ID] = @provider_id AND [P-REC-TY-CD] = 'P'

SELECT [P-SYS-ID]
      ,[P-STAT-EFF-DT]
      ,[P-TY-CD]
      ,[P-STAT-END-DT]
      ,[P-ENROL-STAT-TY-CD]
      ,[G-AUD-USER-ID]
      ,[G-AUD-TS]
      ,[P-BRND-DISCT-PCT]
      ,[P-GENR-DISCT-PCT]
      ,[P-DISP-FEE-AMT]
      ,[P-RE-ENROL-STAT-CD]
      ,[P-ENROL-APP-SRC-CD]
      ,[EnableConversion]
      ,[ErrorCode]
      ,[ErrorMessage]
      ,[LineID]
  FROM [dbo].[DT_PENROLTB_STG] WHERE [P-SYS-ID] = @sys_id;

SELECT [P-SYS-ID]
      ,[P-REC-TY-CD]
      ,[P-ID]
      ,[P-APPL-NUM]
      ,[P-ORIG-PROV-ID]
      ,[P-RA-MEDM-CD]
      ,[P-LOCN-CD]
      ,[P-RA-SORT-SEQ-CD]
      ,[P-RA-PRT-SUSP-CD]
      ,[P-PRACT-TY-CD]
      ,[P-INDIV-GRP-CD]
      ,[P-OWNER-TY-CD]
      ,[P-NF-CLS-CD]
      ,[P-PHRM-CLS-CD]
      ,[P-FACI-TY-CD]
      ,[P-UPIN-NUM]
      ,[P-SSN-NUM]
      ,[P-NPI-NUM]
      ,[P-NABP-NUM]
      ,[P-DEA-NUM]
      ,[P-DBA-NAM]
      ,[P-DBA-ORG-IND]
      ,[P-DBA-LAST-NAM]
      ,[P-DBA-FST-NAM]
      ,[P-DBA-MI-NAM]
      ,[P-DBA-SFX-NAM]
      ,[P-NAM]
      ,[P-NAM-ORG-IND]
      ,[P-LAST-NAM]
      ,[P-FST-NAM]
      ,[P-MI-NAM]
      ,[P-SFX-NAM]
      ,[P-W9-SIGNED-DT]
      ,[P-MCARE-FY-MO-NUM]
      ,[P-MCAID-FY-MO-NUM]
      ,[P-FACI-FY-MO-NUM]
      ,[P-APPL-DT]
      ,[P-FACI-BEG-DT]
      ,[P-FACI-END-DT]
      ,[P-COST-STTLMT-DT]
      ,[P-BLLTN-MEDM-CD]
      ,[P-BLLTN-COPY-NUM]
      ,[P-EMC-PSWD-DAT]
      ,[P-MCARE-IND]
      ,[P-FED-VAC-CHLD-IND]
      ,[P-BKUP-WHOLD-IND]
      ,[P-MULTI-LOCN-IND]
      ,[P-GROSS-TAX-NUM]
      ,[P-PROFIT-IND]
      ,[P-REVER-DT]
      ,[P-BLNG-CD]
      ,[P-PROF-TECH-IND]
      ,[P-SOLE-COMM-IND]
      ,[P-TAX-DISCT-IND]
      ,[P-ADD-DT]
      ,[P-SORT-NAM]
      ,[P-STATE-MATCH-IND]
      ,[P-DEFER-COMP-IND]
      ,[P-ENROLL-ACTION-CD]
      ,[P-TPL-AUDIT-DT]
      ,[P-TPL-AUDIT-TY-CD]
      ,[P-APPL-COMPLETE-DT]
      ,[P-APPL-STAT-CD]
      ,[P-DUPL-OVRRD-IND]
      ,[P-CANCEL-APPL-IND]
      ,[P-SVC-LOC-CD]
      ,[P-VFC-INFO-IND]
      ,[G-AUD-USER-ID]
      ,[G-AUD-DT]
      ,[G-AUD-TM]
      ,[P-ATYP-IND]
      ,[P-HOUR-OPER-TX-TEXT]
      ,[P-NABP-EFF-DT]
      ,[P-DEA-EFF-DT]
      ,[P-DEA-EXP-DT]
      ,[P-OIN-NUM]
      ,[P-EPSDT-IND]
      ,[P-PYMT-MTHD-CD]
      ,[P-1099-CD]
      ,[P-EPSDT-INFO-IND]
      ,[P-ENROL-FEE-PD-IND]
      ,[P-DOB-DT]
      ,[EnableConversion]
      ,[ErrorCode]
      ,[ErrorMessage]
      ,[LineID]
  FROM [dbo].[DT_PROVDRTB_STG] WHERE [P-SYS-ID] = @sys_id;

SELECT [P-SYS-ID]
      ,[P-TAX-KEY-ID]
      ,[P-ADR-TY-CD]
      ,[P-NAM-ORG-IND]
      ,[P-NAM]
      ,[P-LAST-NAM]
      ,[P-FST-NAM]
      ,[P-MI-NAM]
      ,[P-SFX-NAM]
      ,[P-ST-CD]
      ,[P-CNTY-CD]
      ,[P-LINE1-AD]
      ,[P-LINE2-AD]
      ,[P-CITY-NAM]
      ,[P-ZIP4-CD]
      ,[P-ZIP5-CD]
      ,[P-PHON-NUM]
      ,[P-FAX-NUM]
      ,[P-CONTCT-NAM]
      ,[P-CONTCT-PHON-NUM]
      ,[P-CONTCT-FAX-NUM]
      ,[P-CONTCT-EMAIL-AD-TEXT]
      ,[P-RTRN-MAIL-IND]
      ,[P-BARCODE-ROUT-DAT]
      ,[P-BARCODE-CHK-DAT]
      ,[G-AUD-USER-ID]
      ,[G-AUD-DT]
      ,[G-AUD-TM]
      ,[G-QUAD-CD]
      ,[G-WARD-CD]
      ,[EnableConversion]
      ,[ErrorCode]
      ,[ErrorMessage]
      ,[LineID]
  FROM [dbo].[DT_PADDRSTB_STG] WHERE [P-SYS-ID] = @sys_id;

SELECT [P-SYS-ID]
      ,[P-LIC-EFF-DT]
      ,[P-LIC-CERT-NUM]
      ,[P-LIC-CERT-CD]
      ,[P-ST-CD]
      ,[P-LIC-RSTRCT-CD]
      ,[P-LIC-VRFY-IND]
      ,[P-LIC-BRD-NUM]
      ,[P-LIC-EXPIR-DT]
      ,[P-LIC-PERMIT-ID]
      ,[G-AUD-USER-ID]
      ,[G-AUD-DT]
      ,[G-AUD-TM]
      ,[EnableConversion]
      ,[ErrorCode]
      ,[ErrorMessage]
      ,[LineID]
  FROM [dbo].[DT_PLICNSTB_STG] WHERE [P-SYS-ID] = @sys_id;

SELECT [P-SYS-ID]
      ,clia.[P-CLIA-NUM]
      ,[P-CLIA-CERT-TY-CD]
      ,[P-CLIA-LAB-TY-CD]
      ,[P-CLIA-CERT-LI-NUM]
      ,[P-CLIA-CERT-EFF-DT]
      ,[P-CERT-EXPIR-DT]
FROM [dbo].[DT_PCLIAPTB_STG] clia
INNER JOIN [dbo].[DT_PCLIACTB_STG] cliaDetails ON cliaDetails.[P-CLIA-NUM] = clia.[P-CLIA-NUM]
 WHERE [P-SYS-ID] = @sys_id;

SELECT [P-ALT-ID]
      ,[P-ALT-ID-TY-CD]
      ,[P-ALT-ID-BEG-DT]
      ,[P-ALT-ID-VOID-IND]
      ,[P-ALT-ID-END-DT]
      ,[P-SYS-ID]
      ,[G-AUD-USER-ID]
      ,[G-AUD-DT]
      ,[G-AUD-TM]
      ,[EnableConversion]
      ,[ErrorCode]
      ,[ErrorMessage]
      ,[LineID]
  FROM [dbo].[DT_PALTIDTB_STG] WHERE [P-SYS-ID] = @sys_id;


SELECT [P-SYS-ID]
      ,tax.[P-TAXONOMY-CD]
      ,[P-TAXON-CLS-DESC]
      ,[P-TAXON-LONG-DESC]
      ,[P-TAXON-BEG-DT]
      ,[P-TAXON-END-DT]
  FROM [dbo].[DT_PTAXONTB_STG] tax
  INNER JOIN [dbo].[DT_PTXNHDTB_STG] taxHd ON taxHd.[P-TAXONOMY-CD] = tax.[P-TAXONOMY-CD]
  WHERE [P-SYS-ID] = @sys_id;

	SELECT [P-SYS-ID]
      ,[P-SPECL-BEG-DT]
      ,[P-SPECL-CD]
      ,[P-SPECL-END-DT]
      ,[P-LIC-CERT-NUM]
      ,[P-ST-CD]
      ,[P-LIC-BRD-NUM]
      ,[G-AUD-USER-ID]
      ,[G-AUD-DT]
      ,[G-AUD-TM]
      ,[EnableConversion]
      ,[ErrorCode]
      ,[ErrorMessage]
      ,[LineID]
  FROM [dbo].[DT_PSPECLTB_STG] WHERE [P-SYS-ID] = @sys_id;

	SELECT [P-SYS-ID]
      ,[P-TAX-BEG-DT]
      ,[P-TAX-END-DT]
      ,[P-FED-ID-IND]
      ,[P-FED-TAX-ID]
      ,[P-SSN-NUM]
      ,[G-AUD-USER-ID]
      ,[G-AUD-DT]
      ,[G-AUD-TM]
      ,[EnableConversion]
      ,[ErrorCode]
      ,[ErrorMessage]
      ,[LineID]
	FROM [dbo].[DT_PTAXIDTB_STG] WHERE [P-SYS-ID] = @sys_id;

SELECT [P-SYS-ID]
      ,[P-MCARE-BEG-DT]
      ,[P-MCARE-END-DT]
      ,[P-MCARE-NUM]
      ,[P-MCARE-PART-A-IND]
      ,[P-MCARE-PART-B-IND]
      ,[P-MC-CARR-ID]
      ,[P-MCARE-SRC-CD]
      ,[P-MCARE-P-TY-CD]
      ,[G-AUD-USER-ID]
      ,[G-AUD-DT]
      ,[G-AUD-TM]
      ,[EnableConversion]
      ,[ErrorCode]
      ,[ErrorMessage]
      ,[LineID]
  FROM [dbo].[DT_PMCARETB_STG] WHERE [P-SYS-ID] = @sys_id;


SELECT [P-SYS-ID]
      ,[P-PREV-MCAID-ID]
      ,[P-PREV-BEG-DT]
      ,[P-PREV-END-DT]
      ,[P-FED-TAX-ID]
      ,[G-AUD-USER-ID]
      ,[G-AUD-DT]
      ,[G-AUD-TM]
      ,[EnableConversion]
      ,[ErrorCode]
      ,[ErrorMessage]
      ,[LineID]
  FROM [dbo].[DT_PREVMCTB_STG] WHERE [P-SYS-ID] = @sys_id;

	SELECT [P-SYS-ID]
      ,[P-OWNER-TAX-ID]
      ,[P-SEQ-NUM]
      ,[P-OWNERS-NUM]
      ,[P-OWNER-FST-NAM]
      ,[P-OWNER-MI-NAM]
      ,[P-OWNER-LAST-NAM]
      ,[P-OWNER-SFX-NAM]
      ,[P-OWNER-TITL-NAM]
      ,[P-OTHR-FST-NAM]
      ,[P-OTHR-MI-NAM]
      ,[P-OTHR-LAST-NAM]
      ,[P-OTHR-SFX-NAM]
      ,[P-OTHR-TITL-NAM]
      ,[P-OWNER-ST-NAM]
      ,[P-OWNER-BUSN-NAM]
      ,[P-OWNER-DBA-NAM]
      ,[P-OWNER-DT]
      ,[P-OWNER-EMPLR-ID]
      ,[P-OWNER-MCAID-NUM]
      ,[G-AUD-USER-ID]
      ,[G-AUD-DT]
      ,[G-AUD-TM]
      ,[P-OWNER-LINE1-AD]
      ,[P-OWNER-LINE2-AD]
      ,[P-OWNER-CITY-NAM]
      ,[P-OWNER-ST-CD]
      ,[P-OWNER-ZIP5-CD]
      ,[P-OWNER-ZIP4-CD]
      ,[P-OWNER-PCT]
      ,[EnableConversion]
      ,[ErrorCode]
      ,[ErrorMessage]
      ,[LineID]
  FROM [dbo].[DT_POWNINTB_STG] WHERE [P-SYS-ID] = @sys_id;

	SELECT [P-GROUP-SYS-ID]
      ,[P-MEMBER-SYS-ID]
      ,[P-AFFL-BEG-DT]
      ,[P-AFFL-END-DT]
      ,[P-AFFL-TY-CD]
      ,[P-SEQ-NUM]
      ,[P-ENROL-STAT-TY-CD]
      ,[P-MCARE-NUM]
      ,[P-NAM]
      ,[P-SSN-NUM]
      ,[G-AUD-USER-ID]
      ,[G-AUD-DT]
      ,[G-AUD-TM]
      ,[EnableConversion]
      ,[ErrorCode]
      ,[ErrorMessage]
      ,[LineID]
  FROM [dbo].[DT_PAFFILTB_STG] WHERE [P-GROUP-SYS-ID] = @sys_id OR [P-MEMBER-SYS-ID] = @sys_id;



















