
/****** Object:  Table [dbo].[DT_PROVDRTB_STG]    Script Date: 2/1/2017 12:43:16 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO
IF OBJECT_ID('dbo.DT_PROVDRTB_STG', 'U') IS NULL
CREATE TABLE [dbo].[DT_PROVDRTB_STG](
	[P-SYS-ID] [int] NULL,
	[P-REC-TY-CD] [varchar](1) NULL,
	[P-ID] [varchar](9) NULL,
	[P-APPL-NUM] [varchar](8) NULL,
	[P-ORIG-PROV-ID] [varchar](9) NULL,
	[P-RA-MEDM-CD] [varchar](1) NULL,
	[P-LOCN-CD] [varchar](1) NULL,
	[P-RA-SORT-SEQ-CD] [varchar](1) NULL,
	[P-RA-PRT-SUSP-CD] [varchar](1) NULL,
	[P-PRACT-TY-CD] [varchar](1) NULL,
	[P-INDIV-GRP-CD] [varchar](1) NULL,
	[P-OWNER-TY-CD] [varchar](1) NULL,
	[P-NF-CLS-CD] [varchar](1) NULL,
	[P-PHRM-CLS-CD] [varchar](1) NULL,
	[P-FACI-TY-CD] [varchar](1) NULL,
	[P-UPIN-NUM] [varchar](6) NULL,
	[P-SSN-NUM] [varchar](9) NULL,
	[P-NPI-NUM] [varchar](10) NULL,
	[P-NABP-NUM] [varchar](11) NULL,
	[P-DEA-NUM] [varchar](11) NULL,
	[P-DBA-NAM] [varchar](35) NULL,
	[P-DBA-ORG-IND] [varchar](1) NULL,
	[P-DBA-LAST-NAM] [varchar](35) NULL,
	[P-DBA-FST-NAM] [varchar](15) NULL,
	[P-DBA-MI-NAM] [varchar](1) NULL,
	[P-DBA-SFX-NAM] [varchar](5) NULL,
	[P-NAM] [varchar](35) NULL,
	[P-NAM-ORG-IND] [varchar](1) NULL,
	[P-LAST-NAM] [varchar](35) NULL,
	[P-FST-NAM] [varchar](15) NULL,
	[P-MI-NAM] [varchar](1) NULL,
	[P-SFX-NAM] [varchar](5) NULL,
	[P-W9-SIGNED-DT] [varchar](10) NULL,
	[P-MCARE-FY-MO-NUM] [varchar](2) NULL,
	[P-MCAID-FY-MO-NUM] [varchar](2) NULL,
	[P-FACI-FY-MO-NUM] [varchar](2) NULL,
	[P-APPL-DT] [varchar](10) NULL,
	[P-FACI-BEG-DT] [varchar](10) NULL,
	[P-FACI-END-DT] [varchar](10) NULL,
	[P-COST-STTLMT-DT] [varchar](10) NULL,
	[P-BLLTN-MEDM-CD] [varchar](1) NULL,
	[P-BLLTN-COPY-NUM] [varchar](9) NULL,
	[P-EMC-PSWD-DAT] [varchar](8) NULL,
	[P-MCARE-IND] [varchar](1) NULL,
	[P-FED-VAC-CHLD-IND] [varchar](1) NULL,
	[P-BKUP-WHOLD-IND] [varchar](1) NULL,
	[P-MULTI-LOCN-IND] [varchar](1) NULL,
	[P-GROSS-TAX-NUM] [varchar](9) NULL,
	[P-PROFIT-IND] [varchar](1) NULL,
	[P-REVER-DT] [varchar](10) NULL,
	[P-BLNG-CD] [varchar](1) NULL,
	[P-PROF-TECH-IND] [varchar](1) NULL,
	[P-SOLE-COMM-IND] [varchar](1) NULL,
	[P-TAX-DISCT-IND] [varchar](1) NULL,
	[P-ADD-DT] [varchar](10) NULL,
	[P-SORT-NAM] [varchar](35) NULL,
	[P-STATE-MATCH-IND] [varchar](1) NULL,
	[P-DEFER-COMP-IND] [varchar](1) NULL,
	[P-ENROLL-ACTION-CD] [varchar](1) NULL,
	[P-TPL-AUDIT-DT] [varchar](10) NULL,
	[P-TPL-AUDIT-TY-CD] [varchar](1) NULL,
	[P-APPL-COMPLETE-DT] [varchar](10) NULL,
	[P-APPL-STAT-CD] [varchar](1) NULL,
	[P-DUPL-OVRRD-IND] [varchar](1) NULL,
	[P-CANCEL-APPL-IND] [varchar](1) NULL,
	[P-SVC-LOC-CD] [varchar](30) NULL,
	[P-VFC-INFO-IND] [varchar](1) NULL,
	[G-AUD-USER-ID] [varchar](7) NULL,
	[G-AUD-DT] [varchar](10) NULL,
	[G-AUD-TM] [varchar](8) NULL,
	[P-ATYP-IND] [varchar](1) NULL,
	[P-HOUR-OPER-TX-TEXT] [varchar](200) NULL,
	[P-NABP-EFF-DT] [varchar](10) NULL,
	[P-DEA-EFF-DT] [varchar](10) NULL,
	[P-DEA-EXP-DT] [varchar](10) NULL,
	[P-OIN-NUM] [varchar](7) NULL,
	[P-EPSDT-IND] [varchar](1) NULL,
	[P-PYMT-MTHD-CD] [varchar](1) NULL,
	[P-1099-CD] [varchar](1) NULL,
	[P-EPSDT-INFO-IND] [varchar](1) NULL,
	[P-ENROL-FEE-PD-IND] [varchar](1) NULL,
	[P-DOB-DT] [varchar](10) NULL,
	[EnableConversion] [bit] NULL,
	[ErrorCode] [int] NULL,
	[ErrorMessage] [varchar](100) NULL,
	[LineID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO

ALTER TABLE [dbo].[DT_PROVDRTB_STG] ADD  DEFAULT ((1)) FOR [EnableConversion]
GO

ALTER TABLE [dbo].[DT_PROVDRTB_STG] ADD  DEFAULT ((0)) FOR [ErrorCode]
GO

ALTER TABLE [dbo].[DT_PROVDRTB_STG] ADD  DEFAULT ('') FOR [ErrorMessage]
GO


/****** Object:  Table [dbo].[PADDRSTB_TRK_LOG]    Script Date: 2/1/2017 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF OBJECT_ID('dbo.PADDRSTB_TRK_LOG', 'U') IS NULL
CREATE TABLE [dbo].[PADDRSTB_TRK_LOG](
	[TrackingLogID] [int] IDENTITY(1,1) NOT NULL,
	[ExtractFileName] [varchar](25) NULL,
	[LastAuditDT] [varchar](20) NULL,
	[RunDT] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[DT_PADDRSTB_STG]    Script Date: 1/26/2017 12:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF OBJECT_ID('dbo.DT_PADDRSTB_STG', 'U') IS NULL
CREATE TABLE [dbo].[DT_PADDRSTB_STG](
	[P-SYS-ID] [int] NULL,
	[P-TAX-KEY-ID] [varchar](9) NULL,
	[P-ADR-TY-CD] [varchar](1) NULL,
	[P-NAM-ORG-IND] [varchar](1) NULL,
	[P-NAM] [varchar](35) NULL,
	[P-LAST-NAM] [varchar](35) NULL,
	[P-FST-NAM] [varchar](15) NULL,
	[P-MI-NAM] [varchar](1) NULL,
	[P-SFX-NAM] [varchar](5) NULL,
	[P-ST-CD] [varchar](2) NULL,
	[P-CNTY-CD] [varchar](2) NULL,
	[P-LINE1-AD] [varchar](30) NULL,
	[P-LINE2-AD] [varchar](30) NULL,
	[P-CITY-NAM] [varchar](20) NULL,
	[P-ZIP4-CD] [varchar](4) NULL,
	[P-ZIP5-CD] [varchar](5) NULL,
	[P-PHON-NUM] [varchar](10) NULL,
	[P-FAX-NUM] [varchar](10) NULL,
	[P-CONTCT-NAM] [varchar](35) NULL,
	[P-CONTCT-PHON-NUM] [varchar](10) NULL,
	[P-CONTCT-FAX-NUM] [varchar](10) NULL,
	[P-CONTCT-EMAIL-AD-TEXT] [varchar](128) NULL,
	[P-RTRN-MAIL-IND] [varchar](1) NULL,
	[P-BARCODE-ROUT-DAT] [varchar](2) NULL,
	[P-BARCODE-CHK-DAT] [varchar](1) NULL,
	[G-AUD-USER-ID] [varchar](7) NULL,
	[G-AUD-DT] [varchar](10) NULL,
	[G-AUD-TM] [varchar](8) NULL,
	[G-QUAD-CD] [varchar](2) NULL,
	[G-WARD-CD] [varchar](2) NULL,
	[EnableConversion] [bit] NULL,
	[ErrorCode] [int] NULL,
	[ErrorMessage] [varchar](100) NULL,
	[LineID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[PADDRSTB_EXCPT]    Script Date: 1/26/2017 12:11:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF OBJECT_ID('dbo.PADDRSTB_EXCPT', 'U') IS NULL
CREATE TABLE [dbo].[PADDRSTB_EXCPT](
	[REG_ID]  [int] NULL,
	[P-SYS-ID] [int] NULL,
	[P-TAX-KEY-ID] [varchar](9) NULL,
	[P-ADR-TY-CD] [varchar](1) NULL,
	[P-NAM-ORG-IND] [varchar](1) NULL,
	[P-NAM] [varchar](35) NULL,
	[P-LAST-NAM] [varchar](35) NULL,
	[P-FST-NAM] [varchar](15) NULL,
	[P-MI-NAM] [varchar](1) NULL,
	[P-SFX-NAM] [varchar](5) NULL,
	[P-ST-CD] [varchar](2) NULL,
	[P-CNTY-CD] [varchar](2) NULL,
	[P-LINE1-AD] [varchar](30) NULL,
	[P-LINE2-AD] [varchar](30) NULL,
	[P-CITY-NAM] [varchar](20) NULL,
	[P-ZIP4-CD] [varchar](4) NULL,
	[P-ZIP5-CD] [varchar](5) NULL,
	[P-PHON-NUM] [varchar](10) NULL,
	[P-FAX-NUM] [varchar](10) NULL,
	[P-CONTCT-NAM] [varchar](35) NULL,
	[P-CONTCT-PHON-NUM] [varchar](10) NULL,
	[P-CONTCT-FAX-NUM] [varchar](10) NULL,
	[P-CONTCT-EMAIL-AD-TEXT] [varchar](128) NULL,
	[P-RTRN-MAIL-IND] [varchar](1) NULL,
	[P-BARCODE-ROUT-DAT] [varchar](2) NULL,
	[P-BARCODE-CHK-DAT] [varchar](1) NULL,
	[G-AUD-USER-ID] [varchar](7) NULL,
	[G-AUD-DT] [varchar](10) NULL,
	[G-AUD-TM] [varchar](8) NULL,
	[G-QUAD-CD] [varchar](2) NULL,
	[G-WARD-CD] [varchar](2) NULL,
	[LAST_MODIFIED_DATE_TIME] [datetime] NULL,
	[LAST_MODIFIED_USER] [uniqueidentifier] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[DT_PCLIACTB_STG]    Script Date: 1/26/2017 12:11:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF OBJECT_ID('dbo.DT_PCLIACTB_STG', 'U') IS NULL
CREATE TABLE [dbo].[DT_PCLIACTB_STG](
	[P-CLIA-NUM] [varchar](10) NULL,
	[P-CLIA-CERT-TY-CD] [varchar](1) NULL,
	[P-CLIA-LAB-TY-CD] [varchar](1) NULL,
	[P-CLIA-CERT-LI-NUM] [varchar](2) NULL,
	[P-CLIA-CERT-EFF-DT] [varchar](10) NULL,
	[P-CERT-EXPIR-DT] [varchar](10) NULL,
	[G-AUD-USER-ID] [varchar](7) NULL,
	[G-AUD-DT] [varchar](10) NULL,
	[G-AUD-TM] [varchar](8) NULL,
	[EnableConversion] [bit] NULL,
	[ErrorCode] [int] NULL,
	[ErrorMessage] [varchar](100) NULL,
	[LineID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DT_PCLIALTB_STG]    Script Date: 1/26/2017 12:11:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF OBJECT_ID('dbo.DT_PCLIALTB_STG', 'U') IS NULL
CREATE TABLE [dbo].[DT_PCLIALTB_STG](
	[P-CLIA-NUM] [varchar](10) NULL,
	[P-NPI-NUM] [varchar](10) NULL,
	[P-CLIA-LAB-PAY-IND] [varchar](10) NULL,
	[P-FED-TAX-ID] [varchar](9) NULL,
	[P-MCARE-NUM] [varchar](12) NULL,
	[P-NAM] [varchar](35) NULL,
	[P-LINE1-AD] [varchar](30) NULL,
	[P-LINE2-AD] [varchar](30) NULL,
	[P-ZIP5-CD] [varchar](5) NULL,
	[P-ZIP4-CD] [varchar](4) NULL,
	[P-CLIA-UPDT-DT] [varchar](10) NULL,
	[P-CLIA-ADD-DT] [varchar](10) NULL,
	[G-AUD-USER-ID] [varchar](7) NULL,
	[G-AUD-DT] [varchar](10) NULL,
	[G-AUD-TM] [varchar](8) NULL,
	[EnableConversion] [bit] NULL,
	[ErrorCode] [int] NULL,
	[ErrorMessage] [varchar](100) NULL,
	[LineID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DT_PCLIAPTB_STG]    Script Date: 1/26/2017 12:11:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF OBJECT_ID('dbo.DT_PCLIAPTB_STG', 'U') IS NULL
CREATE TABLE [dbo].[DT_PCLIAPTB_STG](
	[P-SYS-ID] [int] NULL,
	[P-CLIA-NUM] [varchar](10) NULL,
	[G-AUD-USER-ID] [varchar](7) NULL,
	[G-AUD-DT] [varchar](10) NULL,
	[G-AUD-TM] [varchar](8) NULL,
	[EnableConversion] [bit] NULL,
	[ErrorCode] [int] NULL,
	[ErrorMessage] [varchar](100) NULL,
	[LineID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DT_PCLIASTB_STG]    Script Date: 1/26/2017 12:11:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF OBJECT_ID('dbo.DT_PCLIASTB_STG', 'U') IS NULL
CREATE TABLE [dbo].[DT_PCLIASTB_STG](
	[P-CLIA-NUM] [varchar](10) NULL,
	[P-CLIA-SPEC-LAB-CD] [varchar](3) NULL,
	[P-CLIA-CERT-EFF-DT] [varchar](10) NULL,
	[P-CERT-EXPIR-DT] [varchar](10) NULL,
	[G-AUD-USER-ID] [varchar](7) NULL,
	[G-AUD-DT] [varchar](10) NULL,
	[G-AUD-TM] [varchar](8) NULL,
	[EnableConversion] [bit] NULL,
	[ErrorCode] [int] NULL,
	[ErrorMessage] [varchar](100) NULL,
	[LineID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[PENROLTB_TRK_LOG]    Script Date: 2/1/2017 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF OBJECT_ID('dbo.PENROLTB_TRK_LOG', 'U') IS NULL
CREATE TABLE [dbo].[PENROLTB_TRK_LOG](
	[TrackingLogID] [int] IDENTITY(1,1) NOT NULL,
	[ExtractFileName] [varchar](25) NULL,
	[LastAuditDT] [varchar](26) NULL,
	[RunDT] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[DT_PENROLTB_STG]    Script Date: 1/26/2017 12:11:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF OBJECT_ID('dbo.DT_PENROLTB_STG', 'U') IS NULL
CREATE TABLE [dbo].[DT_PENROLTB_STG](
	[P-SYS-ID] [int] NULL,
	[P-STAT-EFF-DT] [varchar](10) NULL,
	[P-TY-CD] [varchar](3) NULL,
	[P-STAT-END-DT] [varchar](10) NULL,
	[P-ENROL-STAT-TY-CD] [varchar](2) NULL,
	[G-AUD-USER-ID] [varchar](7) NULL,
	[G-AUD-TS] [varchar](26) NULL,
	[P-BRND-DISCT-PCT] [varchar](18) NULL,
	[P-GENR-DISCT-PCT] [varchar](18) NULL,
	[P-DISP-FEE-AMT] [varchar](18) NULL,
	[P-RE-ENROL-STAT-CD] [varchar](1) NULL,
	[P-ENROL-APP-SRC-CD] [varchar](1) NULL,
	[EnableConversion] [bit] NULL,
	[ErrorCode] [int] NULL,
	[ErrorMessage] [varchar](100) NULL,
	[LineID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[PENROLTB_EXCPT]    Script Date: 1/26/2017 12:11:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF OBJECT_ID('dbo.PENROLTB_EXCPT', 'U') IS NULL
CREATE TABLE [dbo].[PENROLTB_EXCPT](
	[REG_ID]  [int] NULL,
	[P-SYS-ID] [int] NULL,
	[P-STAT-EFF-DT] [varchar](10) NULL,
	[P-TY-CD] [varchar](3) NULL,
	[P-STAT-END-DT] [varchar](10) NULL,
	[P-ENROL-STAT-TY-CD] [varchar](2) NULL,
	[G-AUD-USER-ID] [varchar](7) NULL,
	[G-AUD-TS] [varchar](26) NULL,
	[P-BRND-DISCT-PCT] [varchar](18) NULL,
	[P-GENR-DISCT-PCT] [varchar](18) NULL,
	[P-DISP-FEE-AMT] [varchar](18) NULL,
	[P-RE-ENROL-STAT-CD] [varchar](1) NULL,
	[P-ENROL-APP-SRC-CD] [varchar](1) NULL,
	[LAST_MODIFIED_DATE_TIME] [datetime] NULL,
	[LAST_MODIFIED_USER] [uniqueidentifier] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[PLICNSTB_TRK_LOG]    Script Date: 1/26/2017 12:11:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF OBJECT_ID('dbo.PLICNSTB_TRK_LOG', 'U') IS NULL
CREATE TABLE [dbo].[PLICNSTB_TRK_LOG](
	[TrackingLogID] [int] IDENTITY(1,1) NOT NULL,
	[ExtractFileName] [varchar](25) NULL,
	[LastAuditDT] [varchar](20) NULL,
	[RunDT] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO


/****** Object:  Table [dbo].[DT_PLICNSTB_STG]    Script Date: 1/26/2017 12:11:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF OBJECT_ID('dbo.DT_PLICNSTB_STG', 'U') IS NULL
CREATE TABLE [dbo].[DT_PLICNSTB_STG](
	[P-SYS-ID] [int] NULL,
	[P-LIC-EFF-DT] [varchar](10) NULL,
	[P-LIC-CERT-NUM] [varchar](10) NULL,
	[P-LIC-CERT-CD] [varchar](2) NULL,
	[P-ST-CD] [varchar](2) NULL,
	[P-LIC-RSTRCT-CD] [varchar](1) NULL,
	[P-LIC-VRFY-IND] [varchar](1) NULL,
	[P-LIC-BRD-NUM] [varchar](40) NULL,
	[P-LIC-EXPIR-DT] [varchar](10) NULL,
	[P-LIC-PERMIT-ID] [varchar](30) NULL,
	[G-AUD-USER-ID] [varchar](7) NULL,
	[G-AUD-DT] [varchar](10) NULL,
	[G-AUD-TM] [varchar](8) NULL,
	[EnableConversion] [bit] NULL,
	[ErrorCode] [int] NULL,
	[ErrorMessage] [varchar](100) NULL,
	[LineID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PLICNSTB_EXCPT]    Script Date: 1/26/2017 12:11:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF OBJECT_ID('dbo.PLICNSTB_EXCPT', 'U') IS NULL
CREATE TABLE [dbo].[PLICNSTB_EXCPT](
	[REG_ID] [int] NULL,
	[P-SYS-ID] [int] NULL,
	[P-LIC-EFF-DT] [varchar](10) NULL,
	[P-LIC-CERT-NUM] [varchar](10) NULL,
	[P-LIC-CERT-CD] [varchar](2) NULL,
	[P-ST-CD] [varchar](2) NULL,
	[P-LIC-RSTRCT-CD] [varchar](1) NULL,
	[P-LIC-VRFY-IND] [varchar](1) NULL,
	[P-LIC-BRD-NUM] [varchar](40) NULL,
	[P-LIC-EXPIR-DT] [varchar](10) NULL,
	[P-LIC-PERMIT-ID] [varchar](30) NULL,
	[G-AUD-USER-ID] [varchar](7) NULL,
	[G-AUD-DT] [varchar](10) NULL,
	[G-AUD-TM] [varchar](8) NULL,
	[LAST_MODIFIED_DATE_TIME] [datetime] NULL,
	[LAST_MODIFIED_USER] [uniqueidentifier] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[DT_PADDRSTB_STG] ADD  DEFAULT ((1)) FOR [EnableConversion]
GO
ALTER TABLE [dbo].[DT_PADDRSTB_STG] ADD  DEFAULT ((0)) FOR [ErrorCode]
GO
ALTER TABLE [dbo].[DT_PADDRSTB_STG] ADD  DEFAULT ('') FOR [ErrorMessage]
GO
ALTER TABLE [dbo].[DT_PCLIACTB_STG] ADD  DEFAULT ((1)) FOR [EnableConversion]
GO
ALTER TABLE [dbo].[DT_PCLIACTB_STG] ADD  DEFAULT ((0)) FOR [ErrorCode]
GO
ALTER TABLE [dbo].[DT_PCLIACTB_STG] ADD  DEFAULT ('') FOR [ErrorMessage]
GO
ALTER TABLE [dbo].[DT_PCLIALTB_STG] ADD  DEFAULT ((1)) FOR [EnableConversion]
GO
ALTER TABLE [dbo].[DT_PCLIALTB_STG] ADD  DEFAULT ((0)) FOR [ErrorCode]
GO
ALTER TABLE [dbo].[DT_PCLIALTB_STG] ADD  DEFAULT ('') FOR [ErrorMessage]
GO
ALTER TABLE [dbo].[DT_PCLIAPTB_STG] ADD  DEFAULT ((1)) FOR [EnableConversion]
GO
ALTER TABLE [dbo].[DT_PCLIAPTB_STG] ADD  DEFAULT ((0)) FOR [ErrorCode]
GO
ALTER TABLE [dbo].[DT_PCLIAPTB_STG] ADD  DEFAULT ('') FOR [ErrorMessage]
GO
ALTER TABLE [dbo].[DT_PCLIASTB_STG] ADD  DEFAULT ((1)) FOR [EnableConversion]
GO
ALTER TABLE [dbo].[DT_PCLIASTB_STG] ADD  DEFAULT ((0)) FOR [ErrorCode]
GO
ALTER TABLE [dbo].[DT_PCLIASTB_STG] ADD  DEFAULT ('') FOR [ErrorMessage]
GO
ALTER TABLE [dbo].[DT_PENROLTB_STG] ADD  DEFAULT ((1)) FOR [EnableConversion]
GO
ALTER TABLE [dbo].[DT_PENROLTB_STG] ADD  DEFAULT ((0)) FOR [ErrorCode]
GO
ALTER TABLE [dbo].[DT_PENROLTB_STG] ADD  DEFAULT ('') FOR [ErrorMessage]
GO
ALTER TABLE [dbo].[DT_PLICNSTB_STG] ADD  DEFAULT ((1)) FOR [EnableConversion]
GO
ALTER TABLE [dbo].[DT_PLICNSTB_STG] ADD  DEFAULT ((0)) FOR [ErrorCode]
GO
ALTER TABLE [dbo].[DT_PLICNSTB_STG] ADD  DEFAULT ('') FOR [ErrorMessage]
GO




/****** Object:  Table [dbo].[DT_PTAXIDTB_STG]    Script Date: 2/13/2017 11:26:48 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

IF OBJECT_ID('dbo.DT_PTAXIDTB_STG', 'U') IS NULL
CREATE TABLE [dbo].[DT_PTAXIDTB_STG](
	[P-SYS-ID] [int] NULL,
	[P-TAX-BEG-DT] [varchar](10) NULL,
	[P-TAX-END-DT] [varchar](10) NULL,
	[P-FED-ID-IND] [varchar](1) NULL,
	[P-FED-TAX-ID] [varchar](9) NULL,
	[P-SSN-NUM] [varchar](9) NULL,
	[G-AUD-USER-ID] [varchar](7) NULL,
	[G-AUD-DT] [varchar](10) NULL,
	[G-AUD-TM] [varchar](8) NULL,
	[EnableConversion] [bit] NULL,
	[ErrorCode] [int] NULL,
	[ErrorMessage] [varchar](100) NULL,
	[LineID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO

ALTER TABLE [dbo].[DT_PTAXIDTB_STG] ADD  DEFAULT ((1)) FOR [EnableConversion]
GO

ALTER TABLE [dbo].[DT_PTAXIDTB_STG] ADD  DEFAULT ((0)) FOR [ErrorCode]
GO

ALTER TABLE [dbo].[DT_PTAXIDTB_STG] ADD  DEFAULT ('') FOR [ErrorMessage]
GO

/****** Object:  Table [dbo].[PADDRSTB_TRK_LOG]    Script Date: 2/1/2017 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF OBJECT_ID('dbo.PTAXIDTB_TRK_LOG', 'U') IS NULL
CREATE TABLE [dbo].[PTAXIDTB_TRK_LOG](
	[TrackingLogID] [int] IDENTITY(1,1) NOT NULL,
	[ExtractFileName] [varchar](25) NULL,
	[LastAuditDT] [varchar](20) NULL,
	[RunDT] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[PTAXIDTB_EXCPT]    Script Date: 1/26/2017 12:11:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

IF OBJECT_ID('dbo.PTAXIDTB_EXCPT', 'U') IS NULL
CREATE TABLE [dbo].[PTAXIDTB_EXCPT](
	[REG_ID] [int] NULL,
	[P-SYS-ID] [int] NULL,
	[P-TAX-BEG-DT] [varchar](10) NULL,
	[P-TAX-END-DT] [varchar](10) NULL,
	[P-FED-ID-IND] [varchar](1) NULL,
	[P-FED-TAX-ID] [varchar](9) NULL,
	[P-SSN-NUM] [varchar](9) NULL,
	[G-AUD-USER-ID] [varchar](7) NULL,
	[G-AUD-DT] [varchar](10) NULL,
	[G-AUD-TM] [varchar](8) NULL,
	[LAST_MODIFIED_DATE_TIME] [datetime] NULL,
	[LAST_MODIFIED_USER] [uniqueidentifier] NULL
)
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[DT_PSPECLTB_STG]    Script Date: 2/13/2017 11:27:08 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

IF OBJECT_ID('dbo.DT_PSPECLTB_STG', 'U') IS NULL
CREATE TABLE [dbo].[DT_PSPECLTB_STG](
	[P-SYS-ID] [int] NULL,
	[P-SPECL-BEG-DT] [varchar](10) NULL,
	[P-SPECL-CD] [varchar](3) NULL,
	[P-SPECL-END-DT] [varchar](10) NULL,
	[P-LIC-CERT-NUM] [varchar](10) NULL,
	[P-ST-CD] [varchar](2) NULL,
	[P-LIC-BRD-NUM] [varchar](40) NULL,
	[G-AUD-USER-ID] [varchar](7) NULL,
	[G-AUD-DT] [varchar](10) NULL,
	[G-AUD-TM] [varchar](8) NULL,
	[EnableConversion] [bit] NULL,
	[ErrorCode] [int] NULL,
	[ErrorMessage] [varchar](100) NULL,
	[LineID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO

ALTER TABLE [dbo].[DT_PSPECLTB_STG] ADD  DEFAULT ((1)) FOR [EnableConversion]
GO

ALTER TABLE [dbo].[DT_PSPECLTB_STG] ADD  DEFAULT ((0)) FOR [ErrorCode]
GO

ALTER TABLE [dbo].[DT_PSPECLTB_STG] ADD  DEFAULT ('') FOR [ErrorMessage]
GO
/****** Object:  Table [dbo].[PSPECLTB_TRK_LOG]    Script Date: 2/1/2017 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF OBJECT_ID('dbo.PSPECLTB_TRK_LOG', 'U') IS NULL
CREATE TABLE [dbo].[PSPECLTB_TRK_LOG](
	[TrackingLogID] [int] IDENTITY(1,1) NOT NULL,
	[ExtractFileName] [varchar](25) NULL,
	[LastAuditDT] [varchar](20) NULL,
	[RunDT] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[PSPECLTB_EXCPT]    Script Date: 1/26/2017 12:11:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF OBJECT_ID('dbo.PSPECLTB_EXCPT', 'U') IS NULL
CREATE TABLE [dbo].[PSPECLTB_EXCPT](
	[REG_ID] [int] NULL,
	[P-SYS-ID] [int] NULL,
	[P-SPECL-BEG-DT] [varchar](10) NULL,
	[P-SPECL-CD] [varchar](3) NULL,
	[P-SPECL-END-DT] [varchar](10) NULL,
	[P-LIC-CERT-NUM] [varchar](10) NULL,
	[P-ST-CD] [varchar](2) NULL,
	[P-LIC-BRD-NUM] [varchar](40) NULL,
	[G-AUD-USER-ID] [varchar](7) NULL,
	[G-AUD-DT] [varchar](10) NULL,
	[G-AUD-TM] [varchar](8) NULL,
	[LAST_MODIFIED_DATE_TIME] [datetime] NULL,
	[LAST_MODIFIED_USER] [uniqueidentifier] NULL
)


/****** Object:  Table [dbo].[DT_PTAXONTB_STG]    Script Date: 2/13/2017 11:27:25 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

IF OBJECT_ID('dbo.DT_PTAXONTB_STG', 'U') IS NULL
CREATE TABLE [dbo].[DT_PTAXONTB_STG](
	[P-SYS-ID] [int] NULL,
	[P-TAXONOMY-CD] [varchar](10) NULL,
	[P-TAXON-BEG-DT] [varchar](10) NULL,
	[P-TAXON-END-DT] [varchar](10) NULL,
	[G-AUD-USER-ID] [varchar](7) NULL,
	[G-AUD-DT] [varchar](10) NULL,
	[G-AUD-TM] [varchar](8) NULL,
	[EnableConversion] [bit] NULL,
	[ErrorCode] [int] NULL,
	[ErrorMessage] [varchar](100) NULL,
	[LineID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO

ALTER TABLE [dbo].[DT_PTAXONTB_STG] ADD  DEFAULT ((1)) FOR [EnableConversion]
GO

ALTER TABLE [dbo].[DT_PTAXONTB_STG] ADD  DEFAULT ((0)) FOR [ErrorCode]
GO

ALTER TABLE [dbo].[DT_PTAXONTB_STG] ADD  DEFAULT ('') FOR [ErrorMessage]
GO

/****** Object:  Table [dbo].[PTAXONTB_TRK_LOG]    Script Date: 2/1/2017 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF OBJECT_ID('dbo.PTAXONTB_TRK_LOG', 'U') IS NULL
CREATE TABLE [dbo].[PTAXONTB_TRK_LOG](
	[TrackingLogID] [int] IDENTITY(1,1) NOT NULL,
	[ExtractFileName] [varchar](25) NULL,
	[LastAuditDT] [varchar](20) NULL,
	[RunDT] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[PTAXONTB_EXCPT]    Script Date: 1/26/2017 12:11:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF OBJECT_ID('dbo.PTAXONTB_EXCPT', 'U') IS NULL
CREATE TABLE [dbo].[PTAXONTB_EXCPT](
	[REG_ID] [int] NULL,
	[P-SYS-ID] [int] NULL,
	[P-TAXONOMY-CD] [varchar](10) NULL,
	[P-TAXON-BEG-DT] [varchar](10) NULL,
	[P-TAXON-END-DT] [varchar](10) NULL,
	[G-AUD-USER-ID] [varchar](7) NULL,
	[G-AUD-DT] [varchar](10) NULL,
	[G-AUD-TM] [varchar](8) NULL,
	[LAST_MODIFIED_DATE_TIME] [datetime] NULL,
	[LAST_MODIFIED_USER] [uniqueidentifier] NULL
)



/****** Object:  Table [dbo].[DT_PRVCOSTB_STG]    Script Date: 2/13/2017 11:27:56 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[DT_PRVCOSTB_STG](
	[P-SYS-ID] [int] NULL,
	[P-COS-BEG-DT] [varchar](10) NULL,
	[P-COS-CD] [varchar](2) NULL,
	[P-COS-END-DT] [varchar](10) NULL,
	[G-AUD-USER-ID] [varchar](7) NULL,
	[G-AUD-DT] [varchar](10) NULL,
	[G-AUD-TM] [varchar](8) NULL,
	[EnableConversion] [bit] NULL,
	[ErrorCode] [int] NULL,
	[ErrorMessage] [varchar](100) NULL,
	[LineID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO

ALTER TABLE [dbo].[DT_PRVCOSTB_STG] ADD  DEFAULT ((1)) FOR [EnableConversion]
GO

ALTER TABLE [dbo].[DT_PRVCOSTB_STG] ADD  DEFAULT ((0)) FOR [ErrorCode]
GO

ALTER TABLE [dbo].[DT_PRVCOSTB_STG] ADD  DEFAULT ('') FOR [ErrorMessage]
GO



/****** Object:  Table [dbo].[DT_PAFFILTB_STG]    Script Date: 2/13/2017 11:28:25 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[DT_PAFFILTB_STG](
	[P-GROUP-SYS-ID] [int] NULL,
	[P-MEMBER-SYS-ID] [int] NULL,
	[P-AFFL-BEG-DT] [varchar](10) NULL,
	[P-AFFL-END-DT] [varchar](10) NULL,
	[P-AFFL-TY-CD] [varchar](1) NULL,
	[P-SEQ-NUM] [int] NULL,
	[P-ENROL-STAT-TY-CD] [varchar](2) NULL,
	[P-MCARE-NUM] [varchar](12) NULL,
	[P-NAM] [varchar](35) NULL,
	[P-SSN-NUM] [varchar](9) NULL,
	[G-AUD-USER-ID] [varchar](7) NULL,
	[G-AUD-DT] [varchar](10) NULL,
	[G-AUD-TM] [varchar](8) NULL,
	[EnableConversion] [bit] NULL,
	[ErrorCode] [int] NULL,
	[ErrorMessage] [varchar](100) NULL,
	[LineID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO

ALTER TABLE [dbo].[DT_PAFFILTB_STG] ADD  DEFAULT ((1)) FOR [EnableConversion]
GO

ALTER TABLE [dbo].[DT_PAFFILTB_STG] ADD  DEFAULT ((0)) FOR [ErrorCode]
GO

ALTER TABLE [dbo].[DT_PAFFILTB_STG] ADD  DEFAULT ('') FOR [ErrorMessage]
GO

