<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsSecureService" sendTimeout="00:05:00">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="wsSecureService1">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="wsSecureService2">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="wsSecureService3">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44337/UserInfo.svc/UserInfo.svc"
        binding="wsHttpBinding" bindingConfiguration="wsSecureService"
        contract="PDMSWebApi.UserInfo" name="wsSecureService" />
      <endpoint address="https://localhost:44337/DocumentService/AttachmentService.svc/DocumentService/AttachmentService.svc"
        binding="wsHttpBinding" bindingConfiguration="wsSecureService1"
        contract="AttachmentService.AttachmentService" name="wsSecureService1" />
      <endpoint address="https://localhost:44337/IncidentReport.svc/IncidentReport.svc"
        binding="wsHttpBinding" bindingConfiguration="wsSecureService2"
        contract="IncidentReportService.IncidentReport" name="wsSecureService2" />
      <endpoint address="https://localhost:44337/AcknowledgmentService.svc"
        binding="wsHttpBinding" bindingConfiguration="wsSecureService3"
        contract="PartialAcknowledgementService.AcknowledgmentService"
        name="wsSecureService3" />
    </client>
  </system.serviceModel>
</configuration>