<?xml version="1.0" encoding="utf-8"?>
<!--   For more information on how to configure your ASP.NET application, please visit https://go.microsoft.com/fwlink/?LinkId=301879 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- SET CONNECTION STRING Data source and Initial Catalog to appropriate DB for environment-->
  <connectionStrings>
    <add name="mainDB" connectionString="Data Source=UORADMMSQL01OHP.MAXCORP.MAXIMUS, 26000;Initial Catalog=OH_PNM_INT01P3;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <!-- SET AppSettings to appropriate Values for environment-->
  <appSettings>

    <!-- Test Keys (Do NOT set for Prod) -->
    <add key="TestAPIKey" value="t$rD2AKJpJ=hHFm8cU!gB^Ut!wzL76gjRUwLkT7mza#H@DXmqaYCj#UUeJrSZdHa" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- LDAP Settings -->
    <add key="BypassLdap" value="YES" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="CacheLdapForMinutes" value="10" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LdapServer" value="xxx.xxx.xxx.xxx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LdapPort" value="xxx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LdapBindDN" value="xxx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

  </appSettings>

</configuration>
